// Version
$version: '1.4.4.6';

// Show the credits
@import 'assets/credits';

// Get all assets first
@import 'assets/animation';
@import 'assets/browser';
@import 'assets/defaults';

// Everything else
@import 'components/chat';
@import 'components/global';
@import 'components/header';
@import 'components/keyframes';
@import 'components/loading';
@import 'components/login';
@import 'components/popout';
@import 'components/search';
@import 'components/settings';
@import 'components/store';
@import 'components/userSettings';
