/**
 * @name         AlexFlipnote/Discord_Theme
 * @description  🎨 A discord theme that changes your CSS style
 * @author       AlexFlipnote
 * @version      1.0-bd
 * @source       https://github.com/AlexFlipnote/Discord_Theme
 * @website      https://discord.gg/DpxkY3x
 */

  /* This will automatically update your theme to the latest release, do not remove it and keep it at top */
  @import "https://discordtheme.alexflipnote.dev/theme.css";

  /*
    How to add plugins?
      1. Just add any @import from either my Plugins.md file or any other @import URLs
         [ Plugins.md = https://github.com/AlexFlipnote/Discord_Theme/blob/master/docs/Plugins.md ]
      2. Add them under this comment (above :root)
      3. Enjoy some fun stuff

    :root config explanation:
      #AABBCC               = HEX Colour (https://www.w3schools.com/colors/colors_picker.asp)
      rgba(0, 255, 255, 1)  = RGB(A) Colour (https://www.w3schools.com/colors/colors_picker.asp)
      "Text here"           = String text (You can type whatever you desire inside these)
      3px                   = Pixel size (Replace '3' with whatever you want, entering 0 will disable it)
      1/0                   = Enabled/Disabled, use this to turn things either on or off.

    Note: It's safe to remove any of the text inside comments, this is just to help you get started.
  */

  :root {
    --accent: #7a78bd;
    --dark-highlight: #181818;
    --dark-primary: #212121;
    --dark-secondary: #303030;
    --discord-logo: 1;
    --discord-logo-line: 1;
    --light-dark-text: #2e3136;
    --light-highlight: #9e9e9e;
    --light-primary: #ddd;
    --light-secondary: #ecf0f1;
    --notif: #7a78bd;
    --theme-logo: 1;
  }

  /* Under the :root you can add whatever CSS you desire, be creative! */
