/* Random CSS Meme */



/* Selfish part xD */
/*
#user-profile-modal .avatar-wrapper div[style*="background-image: url(\"https://cdn.discordapp.com/avatars/86477779717066752"] .status {
  position: absolute;
  z-index: 10000;
  top: 5px;
  right: -135px;
  height: 20px;
  width: 140px;
  border-radius: 5px;
  border: 2px solid #fff;
}

#user-profile-modal .avatar-wrapper div[style*="background-image: url(\"https://cdn.discordapp.com/avatars/86477779717066752"] .status:after {
  content: 'Theme Developer';
  padding-left: 8px;
  color: #fff;
  font-weight: bold;
}
*/
