$border-bottom-row: 1px solid #454545;

$filter-dropshadow: drop-shadow(5px 5px 0 rgba(0, 0, 0, .15));
$box-shadow-standard: 0 2px 10px 0 rgba(#000, .2), 0 0 0 1px rgba(#202225, .6);

@mixin search-bar {
  background: transparent !important;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 4px;
  padding-top: 4px;
}

@mixin search-bar-inner {
  background: transparent;
  border: 0;
  box-shadow: $box-shadow-standard;
  padding: 5px 0;
}

@mixin mentioned {
  background: rgba(250, 166, 26, .1);

  &::after {
    background: rgba(250, 166, 26, .2);
    border-left: 4px solid #faa61a !important;
  }
}
