.theme-dark {
  [class*="colorBrand-"], [class*="lookFilled-"][class*="colorBrand-"] {
    background-color: var(--accent);
    color: #fff;
    transition: all 250ms ease;

    &:hover {
      background-color: var(--accent);
      color: #fff;
      filter: brightness(75%);
    }
  }

  [class*="lookLink-"] {
    &[class*="colorBrand-"] { color: #fff; }
  }

  [class*="lookFilled-"] {
    &[class*="colorPrimary-"] { background-color: var(--dark-primary); }
  }

  [class*="lookBlank-"] {
    background-color: transparent;
    color: #fff;
    transition: all 250ms ease;
    &:hover { background-color: transparent; }
  }
}
