@import '../assets/animation';

// Title Section
.theme-dark .chat .title-wrap {
  background-color: var(--dark-highlight);
  border: 0;
}

.chat>.title-wrap>.topic { color: rgba(128, 128, 128, .9); }
.chat>.title-wrap {
  background-color: var(--light-primary);
  border: 0;
  box-shadow: 0;
}


// Search results
.theme-dark .search-results-wrap {
  background: var(--dark-highlight);

  .search-result.expanded {
    background: var(--dark-secondary);
  }
}


// Chat Messages
.theme-dark div[class*="divider-"],
.theme-dark div[class*="dividerRed-"],
.theme-dark .divider, .theme-dark .divider.divider-red {
  span {
    background-color: var(--dark-secondary);
    border-radius: 0;
    text-transform: none;
  }
}

.theme-dark div[class*="info-"] div[class*="title-"] { background: transparent; }
.theme-dark {
  div[class*="headerBar-"] {
    background: var(--dark-highlight);
    padding-bottom: 6px;
    padding-top: 3px;
  }

  div[class*="homeWrapper-"], div[class*="gameLibrary-"], div[class*="applicationStore-"] {
    div[class*="headerBar-"] { background: var(--dark-secondary); }
  }
}

div[class*="chat-"] {
  div[class*="newMessagesBar-"] { background-color: var(--notif); }
  div[class*="jumpToPresentBar-"] { left: inherit; }

  form {
    border: 0;
    margin: 0;
  }
}

#app-mount > div > div.modal-container > div.modal > div > form > div.form-inner > div > div.comment > div > div.body > div > div.markup {
  color: #fff;

  pre {
    background: #1a1c1f;
    border: 2px solid #1a1c1f;
    color: rgb(0, 0, 0);
  }

  > code {
    background: var(--dark-highlight);

    .hljs {
      background: #1a1c1f;
      color: #839496;
    }
  }
}

.confirm-message-modal .form-inner .message-group.hide-overflow .comment .message-first .body .message-text .markup code.inline {
  background: var(--dark-highlight) !important;
}

.theme-dark .chat>.content, .theme-dark div[class*="messagesWrapper-"],
.theme-dark .messages-wrapper {
  background-color: var(--dark-secondary) !important;
}

.theme-dark .chat .jump-to-present-bar { background: var(--accent); }

.theme-dark div[class*="messagesWrapper-"] div[class*="messageGroupBlocked-"],
.theme-dark .messages-wrapper .messages .message-group-blocked {
  background: var(--dark-primary);

  &.revealed { background: var(--dark-primary); }

  div[class*="messageGroupBlockedBtn-"], div[class*="messageGroupBlockedBtn-"]:hover,
  .message-group-blocked-btn, .message-group-blocked-btn:hover {
    @include transition(all 250ms ease);
    background: var(--dark-primary);
    border: 0;
    box-shadow: transparent;
    color: #ccc;
    font-size: 14px;
    text-transform: none;
  }
}

.theme-dark .friends-table .messages .divider::before, .theme-dark .friends-table .messages .divider span,
.theme-dark div[class*="messagesWrapper-"] .messages .divider::before, .theme-dark div[class*="messagesWrapper-"] .messages .divider span,
.theme-dark .messages-wrapper .messages .divider::before, .theme-dark .messages-wrapper .messages .divider span {
  background-color: var(--dark-secondary);
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
  background-color: var(--dark-highlight);
}


// Discord Invites
div[class*="containerCozy-"] div[class*="container-"] div[class*="wrapper-"] {
  background: var(--dark-primary);
  border-style: none;
  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .15));

  h5[class*="h5-"] {
    color: #fff;
    text-align: center;
  }
}


// Spotify invite
.theme-dark div[class*="invite-"] {
  background-color: var(--dark-primary);
  border-color: transparent;
}


// Discord Attachment
.theme-dark div[class*="attachment-"] {
  background: var(--dark-primary);
  border-color: transparent;
  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .15));

  div[class*="filename-"], a[class*="fileNameLink-"] { color: var(--accent); font-weight: bold; }
  div[class*="metadata-"], svg[class*="downloadButton-"], svg[class*="cancelButton-"] { color: #fff; }
  div[class*="size-"] { color: #ccc; }
  div[class*="progressBar-"] {
    @include transition(width .5s ease-out);
    background-color: var(--accent);
  }
}


// Message Text Area
.message-group {
  h2 strong { color: var(--light-dark-text); }
  &:last-of-type { margin-bottom: 20px !important; }
  .comment .message-text .markup { pre { color: #000; }}
  .edit-message {
    .channel-textarea-inner { border: 1px solid var(--accent); }
    .edit-operation>a { color: var(--accent); }

    .edit-container-inner {
      .theme-dark div[class*="channelTextAreaEnabled-"] div[class*="inner-"], div[class*="channelTextAreaEnabledNoAttach"],
      .theme-dark div[class*="channelTextAreaDisabled-"] div[class*="innerDisabled-"], div[class*="channelTextAreaEnabled-"] {
        padding-top: 10px;

        div[class*="inner-"] {
          background-color: var(--dark-primary);
          border-radius: 5px;
        }
      }
    }
  }
}

.channel-textarea-inner {
  .channel-textarea-upload { border-right-color: none; }
  textarea { background-color: transparent; &::-webkit-input-placeholder { color: rgba(128, 128, 128, .9) !important; }}
}

.channel-textarea-upload { border: 0; }
.channel-textarea {
  margin: 0;
  &.channel-textarea-disabled { color: rgba(128, 128, 128, 1); }
}

.channel-textarea-upload:hover {
  background-color: transparent;
  border: 0;
}

.theme-dark .channel-textarea-upload, .theme-dark .channel-textarea-upload:hover {
  transition: all 300ms ease;
}

.theme-dark .channel-textarea-upload {
  $file-upload: 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_file_upload_white_24px.svg';
  background: url($file-upload) 50% no-repeat;
  opacity: .5;

  &:hover {
    background: url($file-upload) 50% no-repeat;
    opacity: 1;
    transform: translateY(-5px);
  }
}

.channel-textarea-inner, .channel-textarea.has-results .channel-textarea-inner {
  border: 0;
  margin-bottom: 14px;
  margin-top: 14px;
}

div[class*="autocomplete-"] {
  border: 0 !important;
  border-bottom: 0;
  border-radius: 0;
  box-shadow: 0;

  div[class*="content-"] { background: transparent; }

  &::after { border: 0; }
  header {
    border-bottom: 0;
    margin-bottom: 5px;
  }

  ul {
    border-bottom: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  li {
    border-radius: 0;
    margin-bottom: 2px;
    .active { border-radius: 0; }
  }
}

.invite-button { background: rgba(0, 0, 0, .2); border: 0; }
.invite-button-header { color: #fff; }

.theme-dark .channel-textarea-inner {
  background-color: transparent;
  .channel-textarea-upload:hover { background-color: transparent; }
}

.theme-dark div[class*="chat-"] form,
.theme-dark .chat form {
  background-color: #3c3c3c;
  border: 0;
  color: #fff;
  margin: 0;

  div[class*="typing-"] {
    background-color: var(--dark-secondary);
    bottom: 100%;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -25.7px;
    width: auto;
  }
}

.theme-dark #autocomplete-popout {
  .row { @include transition(all 50ms ease); }
  .row.selected, #autocomplete-popout .row:hover { background: #181818; }
  .scroller::-webkit-scrollbar { display: none; }
}

.theme-dark div[class*="autocomplete-"] {
  background-color: var(--dark-primary) !important;
  header { background-color: var(--dark-highlight) !important; }
  ul { background-color: var(--dark-primary) !important; }
  li {
    background-color: var(--dark-primary) !important;
    &.active { background-color: var(--dark-secondary) !important; }
  }
}

.theme-dark .invite-button { background-color: rgba(0, 0, 0, .2); border-color: rgba(0, 0, 0, 0); }

.theme-dark .containerCozy-jafyvG {
  &.is-local-bot-message {
    background-image: none;
    box-shadow: none;
  }

  &:last-of-type { margin-bottom: 10px !important; }

  div[class*="embed-"] {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
    border-radius: 0 5px 5px 0;

    div[class*="embedInner-"] {
      background-color: transparent;

      div[class*="markup-"] { font-size: .94rem; }
    }
  }

  code.inline { background: var(--dark-primary); }

  div[class*="channelTextArea-"] div[class*="inner-"] {
    textarea {
      background: var(--dark-primary);
      border-radius: 5px;
    }
  }

  div[class*="message-"] div[class*="markup-"] {
    color: hsla(0, 0%, 100%, .7) !important;

    pre {
      background: rgba(0, 0, 0, .2);
      border-color: rgba(0, 0, 0, .1);
      code { background: rgba(0, 0, 0, .1); }
    }
  }
}


.upload-modal {
  div[class*="autocomplete-"] {
    background: var(--dark-primary);
    color: #fff;
  }

  div[class*="channelTextArea-"] { margin-top: 10px; }
}

.theme-dark .channel-text-area-default div[class*="autocomplete-"] { background: var(--dark-primary); }

.channel-text-area-default, div[class*="channelTextArea-"] {
  margin: 0;
  padding-top: 0;
}

.theme-dark textarea[class*="textArea-"], .theme-dark div[class*="inner-"] { background: transparent; }

.theme-dark div[class*="channelTextAreaEnabled-"] div[class*="inner-"],
div[class*="channelTextArea-"] div[class*="inner-"], div[class*="channelTextAreaEnabledNoAttach"],
.theme-dark div[class*="channelTextAreaDisabled-"] div[class*="innerDisabled-"] {
  background-color: var(--dark-secondary);
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-top: 5px;

  button[class*="emojiButton"] {
    top: 15px;
  }
}

.edit-message .edit-container-inner {
  div[class*="channelTextArea-"] div[class*="inner-"] {
    textarea {
      background: var(--dark-primary);
      border-radius: 5px;
    }
  }
}

.theme-brand div[class*="inner-"] {
  background: var(--dark-highlight);
}

.emoji, .emoji.jumboable {
  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .3));
}


// NSFW Filter
.theme-dark div[class*="chat-"] div[class*="titleWrapper-"] ~ div[class*="content-"] {
  background-color: var(--dark-secondary);

  div[class*="image-"] {
    background-image: url('https://i.alexflipnote.xyz/c2472b.png');
  }
}


// Account information
.theme-dark #rtc-connection-popout hr { border-color: var(--dark-primary); }

.account {
  .btn { background: none; }
  .btn-group { border: 0; }
  .btn-settings { opacity: 1; }
  .btn::after { background-size: 20px 20px; }
  .btn-mute, .btn-deafen, .btn-settings {
    border-right: 0;
    box-shadow: none;
    opacity: .25;
    &:hover { opacity: 1; }
  }

  #rtc-connection {
    background-color: var(--dark-highlight);
    border: 0;
  }

  .btn-mute:hover::after, .account .btn-mute::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg'); }
  .btn-mute.disabled:hover::after, .account .btn-mute.disabled::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_off_white_24px.svg'); }
  .btn-deafen:hover::after, .account .btn-deafen::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_up_white_24px.svg'); }
  .btn-deafen.disabled:hover::after, .account .btn-deafen.disabled::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_off_white_24px.svg'); }
  .btn-settings:hover::after, .account .btn-settings::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_build_white_24px.svg'); }
}

#rtc-connection {
  .btn::after { background-size: 23px 23px; }
  .btn-disconnect::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_call_end_white_24px.svg'); }
  .btn-info::after { background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_info_white_24px.svg'); }
  .btn, .btn-group, .btn-disconnect {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
}


// Friends section
div[class*='privateChannels-'] {
  @for $i from 2 through 5 {
    div[class*='channel-']:nth-child(#{$i}) {
      display: inline-block;
      overflow: visible;
      position: relative;
      width: 25%;

			&:hover:before {
			  top: 105%;
	      left: 5px;
	      display: block;
	      position: absolute;
	      background-color: #000;
        box-shadow: 0 0 5px rgba(0,0,0,0.9);
        color: #fff;
	      contain: layout;
        font-size: 14px;
        font-weight: 500;
	      border-radius: 5px;
        line-height: 16px;
        max-width: 190px;
        padding: 8px 12px;
	      z-index: 1002;
				@include animation(tooltip-bottom-anim 200ms ease-in-out);
			}

		  div[class*='name'] { display: none; }
		  svg { margin: 0; }
		  a { display: flex; justify-content: center; }
    }
  }

  div[class*='channel-']:nth-child(2):hover:before { content: "Activity"; }
  div[class*='channel-']:nth-child(3):hover:before { content: "Library"; }
  div[class*='channel-']:nth-child(4):hover:before { content: "Store"; }
  div[class*='channel-']:nth-child(5):hover:before { content: "Friends";	left: -9px; }
}

.theme-dark div[class*="videoHeight-"] {
  background-color: var(--dark-highlight);
  div[class*="video-"] { background-color: transparent; }
}

.theme-dark div[class*="noChannel-"] {
  background: var(--dark-secondary);
}

.private-channels {
  background-color: var(--dark-primary);

  + div[class*="container-"] { background-color: var(--dark-primary); }
  div[class*="wrapper-"] { background-color: var(--notif); }

  .channel {
    padding-left: -25px;

    &.selected {
      &::before {
        @include animation(current-channel 300ms ease-in-out);
        border-left: 8px solid var(--accent);
        content: ' ';
        height: 100%;
        left: 0;
        opacity: 1 !important;
        position: absolute;
        top: 0;
      }

      a {
        background: var(--dark-secondary);
        border-radius: 0;
      }
    }

    a {
      transition: all 200ms ease;
      &:hover { padding-left: 15px; transition: all 200ms ease; }
    }
  }

  &.selected {
    background: var(--dark-secondary);
    .icon-friends { background-color: transparent; }
    &::before { border-left: 2px solid var(--accent); }
  }
}

#friends {
  .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background: #27ae60;
  }

  div[class*="wrapper-"] { background-color: var(--notif); }
  .friends-empty div[class*="wrapper-"] { background-color: var(--dark-secondary); }

  div[class*="headerBar-"] { background: var(--dark-secondary); }
  .friends-table {
    background: var(--dark-secondary);
    border: 0;
    margin-top: 0;
    padding-top: 4px;
  }

  div[class*="scrollerWrap-"] { background: var(--dark-secondary); }

  .friends-header {
    border: 0;
    box-shadow: none;
    height: 57px;
  }
}

.theme-dark #friends {
  .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #2ecc71;
    transition: all 400ms ease;
    &:hover:not(.selected) { background-color: #27ae60; }
    &.selected { color: #36393e; }
  }

  .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: var(--dark-primary);
    transition: all 400ms ease;
  }

  .friends-header {
    background-color: var(--dark-highlight);
    border: 0;
  }
}


.theme-dark div[class*="activityFeed-"] {
  background: var(--dark-secondary);

  div[class*="article-"] { background: var(--dark-primary); }
  div[class*="headerBar-"] { background: var(--dark-secondary); }

  div[class*="personalizationNotice-"] {
    background: var(--dark-primary);
    button[class*="colorBrand-"] { background: var(--accent); }
  }

  div[class*="paginationItem-"], div[class*="dockItem-"] {
    transition: all 350ms ease;

    &:hover {
      transform: scale(.93);
    }
  }

  div[class*="card-"] {
    background: var(--dark-highlight);
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .1));

    div[class*="header-"] {
      background: var(--dark-primary);
      transition: all 300ms ease;

      div[class*="header-"] { background: transparent; }

      &:hover {
        background: var(--dark-secondary);
      }
    }

    div[class*="cardBody-"] {
      background: var(--dark-primary);

      button:hover { background: var(--accent); }

      div[class*="news-"], a[class*="news-"], a[class*="newsLink-"] {
        background: transparent;
        transition: all 350ms ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  div[class*="emptyState-"] { color: #fff; }
  div[class*="emptyState-2-"] { background: var(--dark-primary); }
}

.theme-dark div[class*="gamePreview-"] {
  background: var(--dark-highlight);

  div[class*="body-"] {
    background: var(--dark-primary);

    div[class*="info-"], a[class*="news-"],
    div[class*="news-"], div[class*="body-"] { background: transparent; }
  }
}


// Channel section
div[class*="container-"] {
  header[class*="header-"] {
    border-radius: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2), 0 3px 0 rgba(0, 0, 0, .06);
  }

  div[class*="containerDefault-"] div[class*="content-"] {
    @include transition(all .2s ease-in-out);
    &:hover { transform: translateX(.5em); }
  }

  div[class*="contentSelectedText-"] {
    svg[class*="colorSelectedText-"] path { fill: #fff; }
    div[class*="nameSelectedText-"] { color: #fff; }
  }

  div[class*="contentUnreadText-"] {
    svg[class*="colorUnreadText-"] path { fill: var(--notif); }
    div[class*="nameUnreadText-"] { color: var(--notif); }
  }

  div[class*="wrapperUnreadText-"] div[class*="unread-"] {
    background: var(--accent);
    border-radius: 6px;
    content: ' ';
    height: 12px;
    left: -10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    width: 12px;
  }
}

.container-RYiLUQ {
  background-color: var(--dark-primary);
  margin-top: -1px;
}

.channels-wrap > div[class*="container-"] {
  background-color: var(--dark-primary);
  border-bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, .25);
}

.content-2mSKOj, .content-2mSKOj:hover { transition: all 250ms ease; }
.content-2mSKOj:hover { background: var(--dark-secondary); }
.container-37-TX2 { color: #ccc; }
.wrapper-2xO9RX { background-color: var(--accent); }

.contentSelectedText-3j5CXt {
  background-color: var(--dark-secondary);
  border-radius: 0 5px 5px 0;
}

.guild-channels {
  background-color: var(--dark-primary);
  .channel .channel-name { @include transition(all 200ms ease); }
  .channel:hover .channel-name { @include transform(translate(10px)); }

  &.selected::before { border-left: 2px solid var(--accent); }
  &:hover.channel-muted::before, .guild-channels .channel-text:hover:not(.unread)::before { border-left: 2px inset var(--accent); }

  .channel-text.selected { background: var(--dark-secondary); }
  .channel-text:hover { background: var(--dark-secondary); opacity: .75; }
}

.channel-members-wrap {
  div[class*="scroller-"] { background: var(--dark-secondary); }
  .channel-members {
    background: var(--dark-secondary);

    div[class*="member-"] div[class*="content-"] {
      background: var(--dark-secondary);
      &:hover { background: var(--dark-primary); }
      &.popout-open { background: var(--dark-primary); }
    }
  }
}

.theme-dark div[class*="membersWrap-"] {
  div[class*="members-"] { background-color: var(--dark-secondary); }
  div[class*="content"] { background-color: var(--dark-secondary); }

  div[class*="member-"]:hover div[class*="content-"] { background: transparent; }
  div[class*="member-"].popout-open div[class*="content-"] { background: transparent; }

  div[class*="membersGroup-"] {
    font-size: 13px;
    text-transform: none;
  }

  div[class*="memberOnline-"], div[class*="memberOffline-"] {
    &:hover { background-color: var(--dark-primary); }
  }
}

div[class*="titleWrapper-"] {
  div[class*="headerBar-"] {
    background: var(--dark-secondary);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2), 0 3px 0 rgba(0, 0, 0, .06);
  }

  div[class*="titleCall-"] {
    background: transparent;
    box-shadow: none;
  }
}

.guild-header header {
  background-color: var(--dark-highlight);
  box-shadow: none;
  height: 57px;

  &:hover { background-color: var(--dark-secondary); }
  &.popout-open header { background-color: var(--dark-secondary); }
}

@mixin arrow-hover($deg) {
  background: url('https://cdn.discordapp.com/attachments/469030745692962836/469096603286896660/channel_arrow.png');
  background-size: contain;
  filter: invert(50%);
  height: 15px;
  left: 4px;
  position: absolute;
  top: 1px;
  transition: all .3s;
  transform: rotate($deg);
  width: 15px;
}

div[class*="wrapperHoveredCollapsed-"] > svg { @include arrow-hover(90deg); }
div[class*="wrapperHovered-"] > svg { @include arrow-hover(180deg); }
div[class*="wrapperCollapsed-"] > svg { @include arrow-hover(90deg); }
div[class*="wrapperDefault-"] > svg { @include arrow-hover(180deg); }

div[class*="channels-"] {
  background: var(--dark-primary);

  div[class*="titleWrapper-"] { z-index: 1; }

  div[class*="justifyStart-"] & div[class*="container-"] {
    background: transparent;
    z-index: 1;
  }

  div[class*="container-"] {
    div[class*="horizontal-"] {
      padding-left: 23px;
      & > svg > path { display: none; }
    }
  }
}


// Channel notice
.theme-dark .channel-notices .channel-notice {
  background-color: var(--dark-highlight);

  .message {
    div { color: #fff; }
    button { background-color: var(--dark-primary); }
  }
}


// Servers section
div[class*="badge-"], div[class*="iconSpacing-"] div[class*="wrapper-"] { background-color: var(--notif); }
.new-messages-indicator.new-messages-indicator-mention { background-color: var(--notif); }

div[class*="dms-"] div[class*="guild-"] div[class*="badge-"],
div[class*="guilds-"] div[class*="guild-"] div[class*="badge-"],
div[class*="guilds-"] div[class*="guild-"][class*="unread-"] div[class*="badge-"] {
  @include transform(translate(-4px, -34px) !important);
  z-index: 100;
}

.theme-dark div[class*="guildsWrapper-"] {
  background: var(--dark-highlight);

  div[class*="guilds-"] {
    .friends-icon { background-image: url('https://cdn.discordapp.com/attachments/469030745692962836/469030765783678996/ic_forum_white_24px.svg'); }
    // Friends icon was replaced with Hub channel at Canary, remove later

    a[href="/activity"], a[href*="/store"], a[href*="/library"],
    a[href*="/channels/@me"]:not(.avatar-small) {
      background-image: url('https://cdn.discordapp.com/attachments/469030745692962836/469030765783678996/ic_forum_white_24px.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;

      svg { display: none; }
    }

    div[class*="guild-"] div[class*="guildInner-"] { background: transparent !important; }
    div[class*="guild-"][class*="audio-"] div[class*="guildInner-"]::after { top: 30px; }
    div[class*="friendsOnline"] { display: none; }

    div[class*="guild-"][class*="selected-"] {
      background: transparent;

      & div[class*="unread-"]::before {
        @include transform(translate(35px, 5px) scale(1.2));
        visibility: visible !important;
      }

      &::before {
        color: #fff;
        content: '' !important;
        display: block;
        height: 64px;
        left: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 4px;
        z-index: 100;
      }

    }

    div[class*="guild-"][class*="selected-"]::before,
    div[class*="guild-"][class*="selected-"][class*="unread-"]::before,
    div[class*="guild-"][class*="unread-"]::before {
      @include transform(translate(50px, -20px) scale(1.2));
      background: var(--notif);
      border-radius: 50%;
      box-shadow: 0 1px 0 rgba(0, 0, 0, .3), inset 0 1px 0 hsla(0, 0%, 100%, .15);
      height: 12px;
      margin-top: 0;
      width: 12px;
      z-index: 100;
    }

    div[class*="guild-"][class*="selected-"][class*="unread-"]::before { // scss-lint:disable MergeableSelector
      @include transform(translate(35px, 5px) scale(1.2));
      visibility: visible !important;
    }

    div[class*="guildSeperator-"] {
      left: -5px;
      margin: 0;
      padding-bottom: 10px;
      position: relative;
      width: 90%;
    }
  }

  .guilds-wrapper .guild.guilds-add::after,
  .guilds-wrapper .guild.guilds-add:hover::after,
  .guilds-wrapper .guilds .guild a:hover,
  .guilds-wrapper .guilds .guild.selected .guild-inner,
  .guilds-wrapper .guilds .guild.active .guild-inner {
    background-color: transparent !important;
  }

  .guild.guilds-add {
    @include transition(border-color .25s ease, color .25s ease);
    background: var(--dark-primary);
    border: 1px dashed var(--accent);
    border-radius: 50%;
    color: var(--accent);
    font-size: 40px;
    font-weight: 200;
    height: 50px;
    left: 0 !important;
    padding: 0;
    position: relative !important;
    text-align: center;
    top: 4px;
    width: 50px;
  }
}


// Markdown
.markdown-modal {
  .markdown-modal-header { text-align: center; }
  .scroller-wrap { background-color: var(--dark-primary); }
  .markdown-modal-footer { background-color: var(--dark-secondary); border-top: 0; }
}

.markdown-modal, .markdown-modal .markdown-modal-header {
  background-color: var(--dark-highlight);
  border-bottom: 0;
  border-radius: 0;
  color: #fff;
}

// Channel Notices

.theme-dark div[class*="channelNotice-"] {
  background-color: var(--dark-highlight) !important;

  button[class*="btn-"] {
    background-color: var(--dark-primary) !important;
  }
}
