.theme-dark .user-settings-account::after,
.theme-light .user-settings-account::after {
  color: var(--accent);
  content: 'Theme version: 1.0.4.99';
  font-weight: bold;
}

// Global

:root {
  // --<var>: <value>
  --accent: #7a78bd;
  --dark-highlight: #181818;
  --dark-primary: #212121;
  --dark-secondary: #303030;
  --light-dark-text: #2e3136;
  --light-highlight: #9e9e9e;
  --light-primary: #ddd;
  --light-secondary: #ecf0f1;
  --notif: #7a78bd;
}

.theme-dark {
  div[class*="footer-"] { background-color: var(--dark-secondary); }
  .messages-wrapper .messages .divider span {
    background-color: transparent;
  }
}


.mention {
  background-color: rgba(115, 139, 215, .2);

  &:hover {
    background-color: rgba(115, 139, 215, .7);
  }
}

::selection {
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

#app-mount div[class*="titleBar-"] {
  background: var(--dark-highlight);
  margin-top: 0;
  padding-top: 4px;
}

.scroller-wrap {
  &.guild-channels::-webkit-scrollbar { display: none; }
  .scroller::-webkit-scrollbar { width: 14px; }
  .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 4px solid rgba(255, 255, 255, 0) !important;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(225, 225, 225, .1) !important;
    border: 4px solid rgba(255, 255, 255, 0) !important;
    display: initial;

    &:hover {
      background-color: rgba(225, 225, 225, .15) !important;
      border: 4px solid rgba(255, 255, 255, 0) !important;
    }

    &:active {
      background-color: rgba(225, 225, 225, .2) !important;
      border: 4px solid rgba(255, 255, 255, 0) !important;
    }
  }
}

div[class*="nameDefault-"],
div[class*="nameHovered-"],
div[class*="nameCollapsed"],
div[class*="nameHoveredCollapsed"] {
  font-size: 15px;
  text-transform: none;
}

.form {
  header { color: #fff; }
  .btn.red { background-color: var(--dark-secondary); }

  .form-header {
    background: var(--dark-highlight);
    border-bottom: 0;
    color: #fff;
  }

  .form-actions {
    background: var(--dark-secondary);
    border-top: 0;
  }

  .btn-default, .btn-default:hover {
    @include transition(background-color .2s ease);
    background-color: var(--dark-secondary);
    border-bottom: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 20px;
    position: relative;
  }
}


// Modal
.modal .modal-inner > .flex-nowrap { background: transparent; }
.modal-content {
  background-color: transparent;
  .form-inner p { color: #fff; }
}

div[class*="modal-"] div[class*="header-"] {
  background-color: var(--dark-highlight);

  + div[class*="scrollerWrap-"] {
    background-color: var(--dark-primary) !important;
    border-radius: 0;
    padding-top: 5px;
  }
}
