.theme-dark, .theme-light {
  div[class*="userSettingsAccount-"]::after, .need-help-modal .footer::before {
    content: 'Theme version: #{$version}';
  }

  div[class*="userSettingsAccount-"]::after {
    color: var(--accent);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 2.1em;
  }

  .need-help-modal .footer::before {
    font-size: 14px;
  }
}

// Global
:root {
  // --<var>: <value>
  --accent: #7a78bd;
  --dark-highlight: #181818;
  --dark-primary: #212121;
  --dark-secondary: #303030;
  --light-dark-text: #2e3136;
  --light-highlight: #9e9e9e;
  --light-primary: #ddd;
  --light-secondary: #ecf0f1;
  --notif: #7a78bd;
}

.theme-dark div[class*="footer-"] {
  background-color: var(--dark-secondary);
  div[class*="content-"] { background: var(--dark-secondary); }
}

.theme-dark .messages-wrapper .messages .divider span {
  background-color: transparent;
}


.mention {
  background-color: rgba(115, 139, 215, .2);

  &:hover { background-color: rgba(115, 139, 215, .7); }
}

::selection {
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

span[class*="botTag"] {
  background: var(--accent);
  color: #fff;
}

#app-mount {
  div[class*="titleBar-"] {
    background: var(--dark-highlight);
    margin-top: 0;
    padding-top: 4px;
    z-index: 1;
  }
}

.scroller-wrap {
  &.guild-channels::-webkit-scrollbar { display: none; }
  .scroller::-webkit-scrollbar { width: 14px; }
  .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 4px solid rgba(255, 255, 255, 0) !important;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(225, 225, 225, .1) !important;
    border: 4px solid rgba(255, 255, 255, 0) !important;
    display: initial;

    &:hover {
      background-color: rgba(225, 225, 225, .15) !important;
      border: 4px solid rgba(255, 255, 255, 0) !important;
    }

    &:active {
      background-color: rgba(225, 225, 225, .2) !important;
      border: 4px solid rgba(255, 255, 255, 0) !important;
    }
  }
}

div[class*="nameDefault-"],
div[class*="nameHovered-"],
div[class*="nameMuted-"],
div[class*="nameCollapsed"],
div[class*="nameHoveredCollapsed"] {
  font-size: 15px;
  text-transform: none;
}

.form {
  header { color: #fff; }
  .btn.red { background-color: var(--dark-secondary); }

  .form-header {
    background: var(--dark-highlight);
    border-bottom: 0;
    color: #fff;
  }

  .form-actions {
    background: var(--dark-secondary);
    border-top: 0;
  }

  .btn-default, .btn-default:hover {
    @include transition(background-color .2s ease);
    background-color: var(--dark-secondary);
    border-bottom: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 20px;
    position: relative;
  }
}

// Checkmarks and sliders
div[class*="checkbox-"][class*="checked-"] {
  background: var(--accent);
  svg path, svg polyline { stroke: #fff !important; }

  &[style*="background-color: rgba(67, 181, 129, 0.15);"] { background: var(--accent) !important; }
}

div[class*="valueChecked-"][class*="switchEnabled-"] {
  background: var(--accent);
}


// Modal
.theme-dark div[class*="inner-"] form[class*="modal-"] {
  background: var(--dark-highlight);

  button[class*="colorBrand-"] { background: var(--accent); }

  h2[class*="title-"] {
    color: #e74c3c;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: none;
  }
}

.modal .modal-inner > .flex-nowrap { background: transparent; }
.modal-content {
  background-color: transparent;
  .form-inner p { color: #fff; }
}

div[class*="modal-"] {
  div[class*="header-"], div[class*="contentWrapper-"] {
    background-color: var(--dark-highlight);

    div[class*="pill-"] { background: var(--dark-primary); }
    div[class*="subTitle-"] { color: #fff; }
    button[class*="lookFilled-"] { background: var(--accent); }

    + div[class*="scrollerWrap-"] {
      background-color: var(--dark-primary) !important;
      border-radius: 0;
      padding-top: 5px;

      div[class*="message-"] { background: transparent; }
    }
  }

  button[class*="colorBrand-"] {
    background-color: var(--accent);
    transition: filter .25s ease;

    &[class*="emojiButton-"] { background-color: transparent; }
    &[class*="close-"] {
      background: transparent;

      &:hover {
        background: transparent;
        filter: none;
      }
    }

    &:hover {
      background-color: var(--accent);
      filter: brightness(75%);
    }

    div[class*="contents-"] { color: #fff; }
  }

  div[class*="headerName-"], div[class*="headerOption-"] { background: transparent; }
}

// Popouts
.theme-dark .themed-popout {
  div[class*="header-"] { background-color: var(--dark-highlight); }
  div[class*="footer-"] { background-color: var(--dark-secondary); }
  .body {
    background-color: var(--dark-primary);

    .friend {
      background: transparent;
      transition: all 250ms ease;

      &.selected, &:hover { background-color: var(--dark-highlight); }
    }
  }
}

// Game Invite
.theme-dark div[class*="invite-"].game-invite-embed,
.theme-dark div[class*="preview-"],
.theme-dark div[class*="preview-"] div[class*="header-"] {
  background-color: var(--dark-primary) !important;
  border-color: var(--dark-secondary) !important;

  div[class*="actionButton-"] {
    background-color: var(--dark-secondary) !important;
  }
}

.theme-dark div[class*="preview-"] + div[class*="subHeader-"] {
  margin-bottom: 8px !important;
}
