div[class*="carouselRightGradientEdge-"], div[class*="carouselLeftGradientEdge-"] {
  background: transparent !important;
}

span[class*="boostCount-"] {
  background: var(--dark-secondary) !important;
  border-radius: 0;
  color: #fff !important;
}

div[class*="boost-"][class*="outer-"] {
  background: var(--dark-secondary);
  border-radius: 0;
  filter: $filter-dropshadow;
  margin-right: .25em;
}

div[class*="modal-"] {
  div[class*="selectGuild-"]:hover { background: var(--dark-secondary); }
}

div[class*="subscribers-"] {
  div[class*="moreSubscribers-"] {
    background-color: var(--dark-secondary);
    color: var(--accent);
    font-size: 14px;
    font-weight: bold;
  }
}

div[class*="subscribersPopout-"] {
  background: var(--dark-secondary) !important;
  box-shadow: 0 0 15px var(--dark-highlight) !important;
  div[class*="subscribersPopoutUser-"] { color: #fff; }
}

div[class*="tierNoneContainer-"] {
  background-color: transparent !important;
}

section[class*="guildSubscriptionSection-"] {
  div[class*="guildSubscription-"] {
    div[class*="header-"] { background: var(--dark-highlight); }
    div[class*="info-"] { background: var(--dark-secondary); }
    div[class*="guildGraphicContainer-"] { background-color: var(--dark-primary); }
    div[class*="gemIndicatorContainer-"] { background-color: var(--dark-highlight); }

    div[class*="subscriptionDuration-"] {
      background-color: var(--dark-primary);
      border-radius: 0;
    }

    span[class*="placeholder"], div[class*="placeholder"] {
      background-color: var(--dark-primary);
    }
  }
}

div[class*="selectPlan-"] {
  div[class*="price-"] { background: transparent !important; }
}

div[class*="tier2HeaderBackground-"] {
  div[class*="price-"] {
    background: var(--dark-primary) !important;
    color: #fff !important;
  }
}

div[class*="tier-"] {
  background: transparent;
  border-bottom: 0;
  border-radius: 0;

  svg[class*="tierLock-"] { color: var(--accent); }
  div[class*="tierUnlocked-"] {
    background: transparent;
    color: var(--accent);
    font-size: 16px;
    text-transform: none;
  }

  div[class*="tierHeader"] {
    background: var(--dark-highlight);
    color: #fff;
  }

  div[class*="tierBody"] {
    background: var(--dark-secondary);
    color: #fff;
  }
}

div[class*="tierMarkerContainer-"] {
  div[class*="tierMarker-"] { background: transparent !important; }
  div[class*="tierMarkerBackground-"] { background: var(--dark-secondary); }

  div[class*="selectedTier-"] {
    div[class*="tierMarkerBackground-"] { background: var(--dark-highlight); }
    div[class*="tierMarker-"] { box-shadow: none; }
  }
}

div[class*="progressBar-"] {
  div[class*="barBackground-"] { background: var(--dark-secondary); }
  rect[class*="background-"] { color: var(--dark-secondary); }

  div[class*="barForeground-"] { background: var(--accent); }
  rect[class*="foreground-"] { color: var(--accent); }
}

div[class*="progressWithSubscriptions-"] {
  div[class*="tierInProgress-"] {
    background: var(--dark-secondary);
  }
}
