@import '../assets/browser';
@import '../assets/animation';

// Small profile popout
.user-popout {
  @include animation(user-popout-anim 350ms ease-in-out);
  width: 450px;

  .body {
    background: var(--dark-primary);
    display: flex;
    padding-top: 14px;
  }

  .footer {
    background: var(--dark-secondary);
    border-top: 0;
  }

  .avatar-wrapper {
    margin: 4px 0 14px -150px;
    position: fixed;
    .avatar-popout { background-color: rgba(0, 0, 0, .01); border: 0; }
    .avatar-hint {
      background: rgba(0, 0, 0, .5);
      box-shadow: none;
      margin: 0;
    }
  }

  .username-wrapper {
    .nickname { margin-bottom: 2px; }
    .activity, .discord-tag, .nickname {
      margin-left: 138px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .header {
    background: var(--dark-highlight);
    padding-top: 3em;

    &.streaming {
      padding-top: 2.15em;

      .activity { padding: 0; }
      .live-on-twitch {
        border-radius: 3px;
        border-top: 0 solid transparent;
        margin-left: 129px;
        padding: 4px 0;
        text-decoration: none;
        width: 150px;
      }
    }
  }
}

div[class*="userPopout-"] {
  @include animation(user-popout-anim 350ms ease-in-out);
  .body { background: var(--dark-primary); }
  .footer { background: var(--dark-secondary); border-top: 0; }

  div[class*="headerNormal-"] { background: var(--dark-highlight); }
  div[class*="body-"] { background: var(--dark-primary); border-bottom: 0; }
  div[class*="footer-"] { background: var(--dark-secondary); }

  div[class*="avatarWrapperNormal-"] {
    div[class*="avatarNormal-"] { background-color: rgba(0, 0, 0, .01); border: 0; }
    div[class*="avatarHint-"] {
      background: rgba(0, 0, 0, .5);
      box-shadow: none;
      margin: 0;
    }
  }
}

div[class*="avatarStatusNormal-"] { border: 0; }

.note textarea:focus { background: var(--dark-highlight); }

.quick-message, .quick-message.isBlocked {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}

.member-roles .member-role {
  background-color: var(--dark-primary);
  border: 1px solid var(--dark-primary);
  color: #808080;
}

.section.roles { max-width: 250px; width: 250px; }
.section.notes, .section.roles { margin-left: 15px; }
.creation-date-wrapper { margin-left: -33px; }
.bot-tag.bot-tag-invert { background-color: #7289da !important; color: #fff !important; }


// Modal Image | Contributed by Snazzah (https://github.com/SnazzyPine25)
.modal-image a {
  background: var(--dark-highlight);
  border-top: 2px solid rgba(0, 0, 0, .2);
  padding-left: 10px;
  width: calc(100% - 20px);

  &:hover {
    background: var(--dark-highlight);
    color: #2196f3;
    opacity: 1;
    padding-left: 20px;
    width: calc(100% - 30px);
  }
}


// Download Modal
.callout-backdrop { background-color: rgba(0, 0, 0, .8) !important; opacity: 1 !important; }
.download-apps {
  .platforms .platform { border: 0; }
  .content-wrapper {
    background: #141414;
    border: 0;
    border-radius: 10px;
  }

  .header, .footer {
    color: #fff;
  }
}


// Large profile popout
.avatar-profile {
  background-size: 128px 128px;
  margin-top: -29px;
}

.avatar-profile .status, #user-profile-modal .guilds .guild .status, .channel-members .member .status, .container-iksrDt .status, .private-channels .status {
  border-color: transparent !important;
  transform: scale(1);
}

.details-3Qyqn3, #user-profile-modal .headerText-1wl24E, .name-2ZHm1Q { color: #fff; }
.content-3AMrS- { color: #aaa; }
.markup .hljs::before { border-radius: 5px 5px 0 0; }
.userPopout-4pfA0d .assetsSmallImage-2F5lSV {
  @include transform(scale(1.2));
  border: 0;
}

#user-profile-modal {
  border-radius: 0;
  .avatar-wrapper { background-color: transparent; }
  .headerIconForeground-3KIzwH { fill: #fff; }

  .assetsSmallImage-2F5lSV {
    @include transform(scale(1.2) translate(-5px, -5px));
    border: 0;
  }

  .header {
    background-color: var(--dark-highlight);
    background-image: none;
    border-radius: 0;

    .discord-tag, .activity { @include animation(profile-badge-info 500ms ease-in-out); }

    &::after { display: none !important; }

    .header-info {
      margin-top: -30px;
      .header-info-inner .discord-tag .username { color: #fff; }
      .header-info-inner .discord-tag .discriminator { color: rgba(255, 255, 255, .7); }
      .header-info-inner .activity { color: rgba(255, 255, 255, .5); }

      .badge-premium, .badge-hypesquad, .badge-partner, .badge-staff { @include animation(profile-badge 500ms ease-in-out); }
    }
  }

  .guilds {
    .guild:hover { background: rgba(255, 255, 255, .1); color: #fff; }

    .section {
      .section-header { color: #fff; }
      .connected-accounts {
        margin-left: -10px;
        margin-right: -10px;
        padding: 0 10px;

        .connected-account {
          background: var(--dark-primary);
          border: 0;
          box-shadow: none;

          a:hover .connected-account-open-icon { opacity: .8; }
          .connected-account-name-inner .connected-account-name { color: #fff; font-weight: 600; }
        }
      }

      .note textarea {
        @include transition(all 100ms ease);
        border-radius: 0;
        padding: 5px;

        &:focus, &:hover:focus { background: transparent; color: #fff; }
      }
    }
  }

  .scroller {
    background: var(--dark-secondary);
    border-bottom: 0;
  }

  .tab-bar {
    margin-left: -185px;
    margin-top: 0;

    .tab-bar-item, .tab-bar-item.selected { color: #fff; }
    .tab-bar-item.selected {
      border-bottom-color: #fff;
      font-weight: bold;
    }
  }

  .tab-bar-container {
    background-color: var(--dark-primary);
    border-bottom: 0;
  }

  .empty {
    background: var(--dark-secondary);
  }
}

// Keyboard Combos | by Archer (https://github.com/AmazingArcher23 , Discord archer#9341)
.keyboard-shortcuts-modal {
  background-color: var(--dark-secondary);
  position: relative;

  .modal-title { color: #fff; }
  .keyboard-shortcut-list .keybind-group .keybind-description { color: #808080; }
}

.keybind-shortcut {
  color: #808080;

  &.dim span {
    color: #808080;
    .bind-arrow g { fill: #808080; }
    &:active, &:active .bind-arrow g { fill: #808080; }
  }

  span {
    border: 1px solid var(--dark-secondary);
    box-shadow: inset 0 -4px 0 var(--dark-highlight);
    color: #808080;

    &:active {
      border: 1px solid var(--dark-secondary);
      box-shadow: inset 0 -2px 0 var(--dark-highlight);
      color: #808080;
      g { fill: #808080; }
    }
  }
}


// Emoji picker
.emoji-picker {
  .category {
    color: var(--accent);
    font-size: 13px;
  }

  .categories {
    background: var(--dark-secondary);
    border-top: 0;
    margin: 0;
    padding: 0 12px;
    .item.selected { border-bottom-color: var(--accent); }
  }

  .dimmer { border-radius: 0; &.visible { background: rgba(0, 0, 0, .5); }}
}

.theme-dark .popout .emoji-picker {
  animation: emoji-picker 300ms;
  background: var(--dark-primary) !important;
  border: 1px solid var(--dark-primary);
  border-radius: 0 0 3px 3px !important;

  .sticky-header { background: var(--dark-primary); }
  .scroller {
    background: transparent !important;

    .emoji-item {
      @include transition(all 100ms ease);
      background-position: 50% !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      &.selected { background: var(--dark-primary); }
    }
  }

  .header {
    background-color: var(--dark-highlight);
    border-bottom: 0;

    .search-bar {
      background-color: transparent;
      .search-bar-inner { background: transparent; font-weight: bolder; }
    }
  }
}

.theme-dark .popout.no-shadow .emoji-picker {
  background: var(--dark-primary) !important;
  border: 0;
  border-radius: 0 !important;
  margin-bottom: -14px !important;
  margin-right: 14px;
}

.diversity-selector .popout {
  background: var(--dark-secondary);
  border: 0;
}


// Status Picker
.theme-dark .status-picker.popout-menu {
  @include animation(status-picker 600ms ease-in-out !important);
  background-color: var(--dark-highlight) !important;
  border-radius: 10px;
}

.popout-menu { border-radius: 0;}

.status-picker .popout-menu-item {
  @include transition(all 250ms ease);
  background-color: var(--dark-primary);
  color: #fff;

  &:hover {
    @include transition(all 250ms ease);
    background-color: var(--dark-secondary);
    color: #fff;
    padding-left: 20px;
  }
}


// Right click
.small-popout-box {
  background: var(--dark-highlight);
  border: 0;
  border-radius: 0;
  color: #fff;
}

.option-popout .btn-item {
  color: #fff;

  &:hover {
    background: var(--dark-secondary);
    color: #fff;
  }
}

.option-popout .btn-item:hover { background: var(--dark-secondary); color: #fff; }

.theme-dark.context-menu .item-group { border-color: rgba(255, 255, 255, .03) !important; }
.context-menu, .context-menu .context-menu { @include animation(sub-contextmenu-anim 200ms ease-in-out); }

.context-menu {
  @include animation(opacity 100ms ease);
  @include crossbrowser(transform-origin, top left);
  background: var(--dark-highlight) !important;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3) !important;
  padding: 0;

  .item {
    @include transition(all 80ms ease);
    background: transparent !important;
    border-radius: 0;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    margin: 0;
    padding: 9px 15px;

    &:hover {
      @include transition(all 0ms);
      background: rgba(225, 225, 225, .03) !important;
      color: rgba(255, 255, 255, .8);
    }

    &:active {
      @include transition(all 0ms);
      background: rgba(225, 225, 225, .1) !important;
    }
  }

  .item:first-of-type { border-radius: 2px 2px 0 0; }
  .item:last-of-type { border-radius: 0 0 2px 2px; }

  .item-subMenu:hover::after { opacity: .75; }
  .item-subMenu::after {
    @include transform(translateY(-4px));
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    opacity: .5;
    position: absolute;
    right: 5px;
    width: 24px;
    z-index: 1001;
  }
}

.theme-dark .context-menu .item-subMenu::after, .context-menu.theme-dark .item-subMenu::after {
  background-image: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_arrow_right_white_18px.svg');
}


// Make new server
.region-select .region-select-inner, .region-select button { border: 0; }
.region-select:hover button {
  @include transition(all 500ms ease);
  background-color: #27ae60;
  border-radius: 0;
  color: #fff;
}

.region-select-modal {
  background: var(--dark-highlight);

  .region-select-modal-header {
    color: #fff;
    text-transform: none;
  }

  .region-select-modal-option {
    @include transition(all 200ms ease);
    background-color: var(--dark-secondary);
    border: 2px solid #696969;

    &:hover {
      @include transition(all 200ms ease);
      border: 5px solid #27ae60;
    }
  }
}

.create-guild-container, .create-guild-container.deprecated {
  @include animation(server-create-enter 500ms ease-in-out);
  background-color: var(--dark-highlight);
  .form.deprecated .form-inner { background-color: transparent; }

  &.deprecated.create-or-join, .create-or-join {
    header {
      color: #fff;
      text-transform: none;

      &::after { content: ' 🎀'; }
    }

    .actions .or { display: none; }

    .form-inner, .form {
      background-color: var(--dark-highlight);
      border-radius: 10px;
    }
  }

  h5 {
    color: #fff;
    text-transform: none;
    &::after { content: ' :D'; }
  }

  .action {
    background: var(--dark-primary);
    box-shadow: 0;

    &.join .action-icon {
      background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_plus_one_white_48px.svg') 50% no-repeat;
      background-size: 50%;
    }

    &.create .action-icon {
      background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_storage_white_48px.svg') 50% no-repeat;
      background-size: 50%;
    }

    .action-body { color: #fff; }
    .action-header {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: none;
    }
  }

  .form .form-actions {
    background-color: var(--dark-secondary);
    border-top: 0;
  }

  .form-actions .btn-default {
    @include transition(all 500ms ease);
    background-color: transparent;
    border-bottom: 0;
    color: #fff;
  }
}

.form .control-group input[type=text],
.form .control-group label+textarea {
  background: transparent;
  color: #fff;
}

.avatar-uploader-inner {
  background-color: rgba(0, 0, 0, .01);
}


// Reactions
.message-reactions-modal {
  background: transparent;

  .message-reactions-reactors {
    background-color: var(--dark-primary);
    .reactor { box-shadow: 0; }
  }

  .message-reactions-reactors .reactor .name,
  .message-reactions-list-inner .reaction .count {
    color: #fff;
  }

  .message-reactions-list .scroller, .message-reactions-list-inner {
    background-color: var(--dark-highlight);
    border-radius: 0;
  }
}


// Quick switch
.quickswitcher {
  @include animation(quickswitcher-menu 300ms ease-in-out);

  &.dark {
    background-color: var(--dark-highlight);
    .result.selected, .result .result-action { background-color: var(--dark-primary); box-shadow: none; }
    .scroller-wrap::before { background: transparent; }
    .big-input {
      background: transparent;
      box-shadow: none;
    }

    .result.selected::after {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .result .result-name:hover, .result .result-display-name:hover, .result.selected .result-display-name { margin-left: 1em; }
  .result .result-name, .result .result-name:hover,
  .result .result-display-name, .result .result-display-name:hover,
  .result.selected .result-display-name {
    @include transition(all 200ms ease);
  }
}

div[class*="modal-"] div[class*="quickswitcher-"] div[class*="header-"] { background: var(--dark-primary); }
.theme-dark div[class*="quickswitcher-"] {
  background: var(--dark-primary);
  div[class*="resultFocused-"] { background: var(--dark-highlight); }
  input[class*="input-"] {
    background: var(--dark-secondary);
    box-shadow: 0;
  }
}


// Tool tip
.tooltip {
  background: rgba(22, 22, 22, .6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .9);
  color: #fff;

  &.tooltip-top { @include animation(tooltip-top-anim 200ms ease-in-out); }
  &.tooltip-bottom { @include animation(tooltip-bottom-anim 200ms ease-in-out); }
  &.tooltip-right { @include animation(tooltip-right-anim 200ms ease-in-out); }
  &.tooltip-left { @include animation(tooltip-left-anim 200ms ease-in-out); }
  &::after { opacity: 0; }
}


// Help popout | F1 Key
.need-help-modal {
  a, ul li { color: #fff; }
  .header {
    background-color: var(--dark-highlight);
    border-radius: 0;
    color: var(--dark-highlight);

    input[type=text] {
      background: transparent;
      border-bottom: 2px solid #696969;
      border-radius: 0;
      box-shadow: 0 0;

      &:focus {
        border-bottom: 2px solid #696969;
        color: #fff;
      }
    }
  }

  .footer {
    background-color: var(--dark-highlight);
    border-radius: 0;
    border-top: 0;
    color: #fff;
  }

  .form-inner {
    &.loading { background-color: var(--dark-secondary); }
    .failed {
      .poop { background-image: url('/assets/4dc13fd52f691020a1308c5b6cbc6f49.svg'); }
      p { display: none; }

      &::after {
        color: #fff;
        content: 'Looks like the help site is down...';
      }
    }
  }

  // Splitted with Deprecated
  &.deprecated {
    .header {
      background-color: var(--dark-highlight);

      input[type=text] {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
      }
    }

    .footer { background-color: var(--dark-secondary); border-top: 0; }
  }
}


// Pin message
.themed-popout .header { background: var(--dark-highlight) !important; }

.theme-dark .messages-popout-wrap {
  background: var(--dark-primary) !important;
  border: 0 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3) !important;
  max-height: 541px !important;

  .comment {
    background: rgba(0, 0, 0, 0);
    border-radius: 0 3px 3px !important;
    padding: 4px 7px 10px 10px !important;

    &::before {
      border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
      left: -20px;
      top: -4px;
    }
  }

  .messages-popout .message-group {
    background: transparent !important;
    border: 0 !important;

    .message-group .action-buttons .jump-button {
      background-color: transparent;
      &:hover { box-shadow: none; }
    }
  }
}


// Ban and kick
.user-popout-banned-video {
  display: none;
}

.alert.form.has-icon::before {
  background-color: transparent;
  background-image: url('/assets/1ac6fb17c60570343eec4e81fe1e4073.svg');
  border-radius: 0;
}

.form .form-inner {
  background-color: var(--dark-primary);
  &:last-child { background-color: var(--dark-highlight); }
}

.alert.form .form-inner {
  h4 { color: #fff; }
  .cancel {
    background-color: #e74c3c;
    border-color: transparent;

    &:hover {
      background-color: #c0392b;
    }
  }
}

video[autoplay] { display: none; }


// Upload area
div[class*="autocomplete-"] {
  background-color: var(--dark-secondary) !important;

  header {
    background-color: var(--dark-highlight) !important;
    color: var(--accent);
    font-size: 14px;
  }

  li, ul { background-color: var(--dark-secondary) !important; }
  ul {
    background-color: var(--dark-secondary) !important;
    li { color: #fff !important; &.active { background-color: var(--dark-primary) !important; }}
  }
}

.upload-modal {
  background-color: var(--dark-primary);

  .inner {
    border: 0;

    .file {
      .icon.image { border: 0; box-shadow: 0 0 0; }
      .description .filename { color: var(--accent); }
    }

    .comment {
      .label { font-size: 14px; }
      .channel-textarea .channel-textarea-inner {
        background-color: var(--dark-secondary);
        border-color: var(--dark-secondary);
        padding: 10px;
      }
    }
  }

  .footer {
    background-color: var(--dark-primary);

    .button-primary { color: var(--accent); }
    .button {
      background-color: var(--dark-primary);
      right: 25px;
      width: 100px;
    }
  }
}


.upload-modal-in .upload-drop-modal .instructions, .upload-modal-in .upload-drop-modal .title { color: var(--accent); }
.upload-drop-modal .inner { border: 0; }
.upload-drop-modal .bgScale {
  background: var(--dark-secondary);
  border-radius: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
