// Small profile popout
div[class*="userPopout-"] {
  @include animation(user-popout-anim 350ms ease-in-out);

  div[class*="activity-"] {
    background: transparent;

    div[class*="headerText-"] {
      font-size: 14px;
      font-weight: normal;
      text-transform: none;
    }
  }

  div[class*="bodyTitle-"] { text-transform: none; }
  div[class*="headerNormal-"] { background: var(--dark-highlight); }

  div[class*="headerPlaying-"], div[class*="headerSpotify-"] {
    background: var(--dark-highlight);
  }

  div[class*="body-"] {
    background: var(--dark-primary);
    border-bottom: 0;

    div[class*="bodyInner-"] { background: transparent; }
    div[class*="roleName-"] { font-weight: normal; }
  }

  div[class*="bodyAlignCenter-"], div[class*="bodyNormal-"] { background: transparent; border-bottom: 0; }

  div[class*="footer-"] {
    border: 0;
    padding: 0;

    div[class^="protip-"] {
      display: none;
    }

    div[class^="wumpusWrapper-"] {
      left: 0;
      margin: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: -18px;
    }

    input[class*="quickMessage-"] {
      background-color: var(--dark-secondary);
      border: 0;
      margin: 10px;
    }
  }

  div[class*="content-"] { background-color: transparent; }

  div[class*="avatarWrapperNormal-"] {
    div[class*="avatarNormal-"] { background-color: rgba(0, 0, 0, .01); border: 0; }
    div[class*="avatarHint-"] {
      background: rgba(0, 0, 0, .5);
      box-shadow: none;
      margin: 0;
    }
  }
}

div[class*="avatarStatusNormal-"] { border: 0; }

div[class*="note-"] textarea {
  background: transparent;
  border-radius: 0;
  &:focus { background: var(--dark-highlight) !important; }
}

// Stream preview popout
div[class*="streamPreviewWrapper-"] {
  div[class*="streamPreview"] { background-color: var(--dark-highlight); }
}

// Colour picker
.theme-dark div[class*="colorPickerCustom-"] {
  background: var(--dark-highlight);
  border-color: var(--dark-primary);
  border-radius: 5px;
}

// Call popout
div[class*="pictureInPicture-"] {
  div[class*="pictureInPictureWindow-"] {
    filter: $filter-dropshadow;
  }
}


// Modal Image | Contributed by Snazzah (https://github.com/Snazzah)
.modal-image a {
  background: var(--dark-highlight);
  border-top: 2px solid rgba(0, 0, 0, .2);
  padding-left: 10px;
  width: calc(100% - 20px);

  &:hover {
    background: var(--dark-highlight);
    color: #2196f3;
    opacity: 1;
    padding-left: 20px;
    width: calc(100% - 30px);
  }
}


// Everyone ping popout
.theme-dark form[class*="everyonePopout-"] {
  background: var(--dark-highlight);
  box-shadow: 0 2px 10px 0 rgba(28, 36, 43, .8);

  div[class*="content-"] {
    div[class*="header-"] { color: #e74c3c; }
    button[type="button"] { color: var(--accent); }
    button[type="submit"] { background: var(--accent); }
  }

  div[class*="body-"] { background: var(--dark-highlight); }
  div[class*="footer-"] {
    background: var(--dark-highlight);
    div { color: #fff; }
  }
}

// Global menu seperator
div[class*="separator-"] {
  border-bottom: 2px solid var(--dark-secondary);
}

// User popout large
div[class*="root-"] {
  border-radius: 0;

  button[type="button"] {
    color: #fff;
    transition: all 250ms ease;
    &:hover { filter: brightness(75%); }
  }

  div[class*="topSectionSpotify-"], div[class*="topSectionPlaying"], div[class*="content-"] {
    background: transparent;
  }

  header[class*="header-"], div[class*="activityProfile-"], div[class*="activity-"] {
    background-color: var(--dark-highlight);

    button {
      background: var(--dark-secondary);
      &:hover { background: var(--dark-primary); }
    }
  }


  div[class*="topSectionNormal-"], div[class*="tabBarContainer-"] { background-color: var(--dark-primary); border-top: 0; }
  div[class*="scrollerWrap-"], div[class*="empty-"] { background-color: var(--dark-secondary); }
  div[class*="connectedAccount-"] {
    background-color: var(--dark-primary);
    border: 0;
  }

  div[class*="profileBadgeWrapper-"] {
    transition: all 250ms ease;
    &:hover { transform: scale(1.25); }
  }

  div[class*="userInfoSection-"] {
    padding: 15px 0;
    & + div[class*="userInfoSection-"] { border-top: 0; }
  }

  div[class*="profileBadgeStaff-"] { background-image: url('https://canary.discordapp.com/assets/4358ad1fb423b346324516453750f569.svg'); }
  div[class*="profileBadgePartner-"] { background-image: url('https://canary.discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg'); }
  div[class*="profileBadgeHypesquad-"] { background-image: url('https://canary.discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg'); }
  div[class*="profileBadgeEarlySupporter-"] { background-image: url('https://canary.discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg'); }
  div[class*="profileBadgePremium-"] { background-image: url('https://canary.discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg'); }
  div[class*="profileBadgeBugHunter-"] { background-image: url('https://canary.discordapp.com/assets/f61b8981e92feead854f52e5a1ba14f0.svg'); }

  div[class*="profileBadgeHypeSquadOnlineHouse1-"] { background-image: url('https://canary.discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg'); }
  div[class*="profileBadgeHypeSquadOnlineHouse2-"] { background-image: url('https://canary.discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg'); }
  div[class*="profileBadgeHypeSquadOnlineHouse3-"] { background-image: url('https://canary.discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg'); }

  div[class*="profileGuildSubscriberlvl1-"] { background-image: url('https://canary.discordapp.com/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg'); }
  div[class*="profileGuildSubscriberlvl2-"] { background-image: url('https://canary.discordapp.com/assets/b4b741bef6c3de9b29e2e0653e294620.svg'); }
  div[class*="profileGuildSubscriberlvl3-"] { background-image: url('https://canary.discordapp.com/assets/93f5a393e22796a850931483166d7cb9.svg'); }
  div[class*="profileGuildSubscriberlvl4-"] { background-image: url('https://canary.discordapp.com/assets/4c380650960c2b1e1584115d5e9ad63b.svg'); }
  div[class*="profileGuildSubscriberlvl5-"] { background-image: url('https://canary.discordapp.com/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg'); }
  div[class*="profileGuildSubscriberlvl6-"] { background-image: url('https://canary.discordapp.com/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg'); }
  div[class*="profileGuildSubscriberlvl7-"] { background-image: url('https://canary.discordapp.com/assets/5a24b20b84fb3eafc138916729386e76.svg'); }
  div[class*="profileGuildSubscriberlvl8-"] { background-image: url('https://canary.discordapp.com/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg'); }
  div[class*="profileGuildSubscriberlvl9-"] {	background-image: url('https://canary.discordapp.com/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg'); }
}


.theme-dark div[class*="keyboardShortcutsModal-"] {
  background-color: var(--dark-secondary);
  position: relative;
}

.theme-dark div[class*="keybindShortcut-"] {
  color: #808080;

  &.dim span {
    color: #808080;
    .bind-arrow g { fill: #808080; }
    &:active, &:active .bind-arrow g { fill: #808080; }
  }

  span {
    border: 1px solid var(--dark-secondary);
    box-shadow: inset 0 -4px 0 var(--dark-highlight);
    color: #fff;

    &:active {
      border: 1px solid var(--dark-secondary);
      box-shadow: inset 0 -2px 0 var(--dark-highlight);
      color: #ccc;
      g { fill: #ccc; }
    }
  }
}


// Emoji picker
div[class*="emojiPicker-"] {
  background: transparent;
  border: 0;

  div[class*="dimmer-"][class*="visible-"] {
    background-color: var(--dark-highlight);
    opacity: .75;
  }

  div[class*="header-"] {
    background-color: var(--dark-highlight);
    .search-bar-light { background: transparent; }
  }

  div[class*="stickyHeader-"] {
    background-color: var(--dark-primary);
    box-shadow: 0 0 10px 5px var(--dark-highlight);
    left: 0;
    width: 100%;

    div[class*="category-"] { padding-left: 1em; }
  }

  div[class*="infoBarWrapper-"] {
    div[class*="infoBar-"] { background-color: var(--dark-secondary); }
    div[class*="iconSizeSmaller-"] { height: 36px; width: 36px; }
  }

  div[class*="category-"] {
    color: var(--accent);
    font-size: 14px;
    font-weight: bold;
    padding-left: .4em;
    text-transform: none;
  }

  div[class*="categories-"] {
    background: var(--dark-primary);
    border-top: 0;
    margin: 0;
    padding: 0 12px;
    div[class*="selected-"] { border-bottom-color: var(--accent); }
  }

  div[class*="popout-"] {
    background: var(--dark-secondary);
    border: 0;

    div[class*="item"] {
      transition: all 250ms ease;

      &:hover {
        background-color: transparent;
        transform: scale(.85);
      }
    }
  }

  div[class*="dimmer-"] { border-radius: 0; &.visible { background: rgba(0, 0, 0, .5); }}
}

div[class*="errorState-"][class*="noResults-"] {
  background: var(--dark-primary);
  margin: 0;
  padding: 20px 48px;
}

.theme-dark div[class*="popout-"], .theme-dark div[id*="popout_"] {
  box-shadow: none;

  div[class*="popoutList-"] { background: var(--dark-highlight); }
  div[class*="searchBar-"] {
    background: transparent;

    div[class*="searchBarInner-"] {
      background: transparent;
      border: 0;
    }
  }

  div[class*="footerSeparator"] {
    box-shadow: none;
    display: none;
  }

  div[class*="emojiPicker-"] {
    animation: emoji-picker 300ms;
    background: var(--dark-primary) !important;
    border: 0;
    border-radius: 0 0 3px 3px !important;
    box-shadow: $box-shadow-standard;

    div[class*="stickyHeader-"] { background: var(--dark-primary); }
    div[class*="scrollerWrap-"] {
      background: transparent !important;

      div[class*="emojiItem-"] {
        @include transition(all 100ms ease);
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }

      div[class*="selected-"] { background: var(--dark-secondary); }
    }

    div[class*="header-"] {
      background-color: var(--dark-highlight);
      border-bottom: 0;

      .search-bar {
        background-color: var(--dark-highlight) !important;
        .search-bar-inner { background: transparent; font-weight: bolder; }
      }
    }
  }

  &.no-shadow .emoji-picker {
    background: var(--dark-primary) !important;
    border: 0;
    border-radius: 0 !important;
    margin-bottom: -14px !important;
    margin-right: 14px;
  }

  div[class*="menu-"] {
    background: var(--dark-highlight);

    div[class*="invite-"] { background: transparent; }

    div[class*="item-"] {
      @include transition(all 250ms ease-in-out);
      padding: 8px 20px;

      &:hover {
        @include transition(all 250ms ease-in-out);
        @include transform(translateX(.5em));
        background: transparent;
      }
    }
  }

  div[class*="quickSelectPopout-"] {
    background: var(--dark-primary);

    div[class*="quickSelectPopoutOption"] {
      transition: all 300ms ease;

      &:hover {
        background: transparent;
        transform: translateX(-.3em);
      }
    }
  }
}

.theme-dark div[class*="popoutContainer-"] div[class*="popout-"] {
  background: var(--dark-highlight);
  div[class*="memberListItem-"]:hover { background: var(--dark-primary); }
}

.theme-dark div[class*="memberListItem-"]:not([class*="popoutDisabled-"]):hover { background-color: var(--dark-secondary); }

div[class*="modal-"] div[class*="wrapper-"] {
  background: transparent;

  form[class*="instantInviteModal-"] {
    .form-header {
      background: var(--dark-highlight);
      header { color: #fff; }
      div[class*="blurb-"] { color: #ccc; }
    }

    .form-inner { background: var(--dark-primary); }
    .form-actions { background: var(--dark-secondary); }

    div[class*="clipboardInputInner-"] {
      background: var(--dark-secondary);
      border: 0;

      input { background: var(--dark-secondary); }
      button {
        background: var(--accent);
        border-left: 0;

        &::before { background: transparent; }
      }
    }

  }
}

.diversity-selector .popout {
  background: var(--dark-secondary);
  border: 0;
}


// Status Picker
.theme-dark .status-picker.popout-menu {
  @include animation(status-picker 600ms ease-in-out !important);
  background-color: var(--dark-highlight) !important;
  border-radius: 10px;
}

.popout-menu { border-radius: 0;}

div[class*="popoutTopLeft-"], div[class*="popoutBottom-"], div[id="popout_1"] {
  div[class*="menu-"] {
    @include transition(all 250ms ease);
    background-color: var(--dark-highlight);
    color: #fff;

    div[class*="itemBase-"] {
      @include transition(all 250ms ease);

      &:hover {
        background-color: var(--dark-secondary);
        color: #fff;
        transform: translateX(.3em);
      }
    }
  }
}


// Right click
.small-popout-box {
  background: var(--dark-highlight);
  border: 0;
  border-radius: 0;
  color: #fff;
}

.option-popout .btn-item {
  color: #fff;

  &:hover {
    background: var(--dark-secondary);
    color: #fff;
  }
}

.option-popout .btn-item:hover { background: var(--dark-secondary); color: #fff; }
.theme-dark div[class*="contextMenu-"] .item-group { border-color: rgba(255, 255, 255, .03) !important; }

div[class*="contextMenu-"] {
  @include animation(sub-contextmenu-anim 200ms ease-in-out);
  @include crossbrowser(transform-origin, top left);
  background: var(--dark-highlight) !important;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3) !important;
  padding: 0;

  input[class*="checkboxElement"] {
    &:checked + span {
      background-color: var(--accent) !important;
      border-color: var(--accent) !important;
    }
  }

  div[class*="item-"], div[class*="itemBase-"] {
    background: transparent !important;
    border-radius: 0;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    margin: 0;
    padding: 4px 15px;
    transition: all 250ms ease;

    div[class*="label-"] { transition: transform 250ms ease; }
    &:hover {
      background: var(--dark-primary) !important;
      color: rgba(255, 255, 255, 1);
      transition: all 250ms ease;

      div[class*="label-"] {
        transform: translateX(6px);
        transition: transform 250ms ease;
      }
    }

    &[class*="itemSlider-"] { padding: 9px 15px; }

    &:first-of-type { border-radius: 2px 2px 0 0; }
    &:last-of-type { border-radius: 0 0 2px 2px; }

    &:active {
      @include transition(all 0ms);
      background: rgba(225, 225, 225, .1) !important;
    }
  }

  div[class*="itemSubMenu-"] {
    position: relative;
  }

  div[class*="itemSubMenu-"]:hover::after { opacity: .75; }
  div[class*="itemSubMenu-"]::after {
    @include transform(translateY(-4px));
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    opacity: .5;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 24px;
    z-index: 1001;
  }

  div[class*="danger-"] { color: #f04747 !important; }
}


// Make new server
.region-select .region-select-inner, .region-select button { border: 0; }
.region-select:hover button {
  @include transition(all 500ms ease);
  background-color: #27ae60;
  border-radius: 0;
  color: #fff;
}

div[class*="regionSelectModal-"] {
  background: var(--dark-highlight);

  div[class*="regionSelectModalHeader-"] {
    color: #fff;
    text-transform: none;
  }

  div[class*="regionSelectModalOptions-"] div[class*="regionSelectModalOption-"] {
    @include transition(all 200ms ease);
    background-color: var(--dark-secondary);
    border: 2px solid #696969;

    &:hover {
      @include transition(all 200ms ease);
      border: 5px solid #27ae60;
    }
  }
}

.form .control-group input[type=text],
.form .control-group label+textarea {
  background: transparent;
  color: #fff;
}

.avatar-uploader-inner {
  background-color: rgba(0, 0, 0, .01);
}


// Reactions
.theme-dark div[class*="container-"] {
  div[class*="reactors"] { background-color: var(--dark-primary); }
  div[class*="sidebar-"] {
    background-color: var(--dark-highlight);
    border-radius: 0;
  }
}


// Quick switch
.quickswitcher {
  @include animation(quickswitcher-menu 300ms ease-in-out);

  &.dark {
    background-color: var(--dark-highlight);
    .result.selected, .result .result-action { background-color: var(--dark-primary); box-shadow: none; }
    .scroller-wrap::before { background: transparent; }
    .big-input {
      background: transparent;
      box-shadow: none;
    }

    .result.selected::after {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .result .result-name:hover, .result .result-display-name:hover, .result.selected .result-display-name { margin-left: 1em; }
  .result .result-name, .result .result-name:hover,
  .result .result-display-name, .result .result-display-name:hover,
  .result.selected .result-display-name {
    @include transition(all 200ms ease);
  }
}

.theme-dark div[class*="popoutList-"] {
  background: var(--dark-highlight);
  div[class*="searchBar-"] { background: var(--dark-primary); }
}

div[class*="modal-"] div[class*="quickswitcher-"] div[class*="header-"] { background: var(--dark-primary); }
div[class*="backdrop-"] + div[class*="modal-"] {
  div[class*="modal-"] { background: var(--dark-highlight); }
  div[class*="option-"] { background: var(--dark-primary); }
  div[class*="countryButton-"] { background: var(--dark-secondary); }
  div[class*="phoneField-"], input[class*="inputField-"] {
    background: var(--dark-primary);
    box-shadow: none;
  }
}

.theme-dark div[class*="quickswitcher-"] {
  @include animation(quickswitcher-menu 300ms ease-in-out);
  background: var(--dark-primary);

  div[class*="resultDefault-"] {
    div[class*="content-"] {
      transition: all 400ms ease;
      &:hover { transform: translateX(0); }
    }
  }

  div[class*="resultFocused-"] {
    background: var(--dark-highlight);

    div[class*="content-"] {
      transition: all 400ms ease;
      &:hover { transform: translateX(.6em); }
    }
  }

  input[class*="input-"] {
    background: var(--dark-secondary);
    box-shadow: none;
  }
}


// Tool tip
div[class*="tooltip-"], div[class*="tooltip-"][class*="tooltipGrey-"] {
  background: var(--dark-highlight);
  box-shadow: 0 0 5px var(--dark-highlight);
  color: #fff;

  &[class*="tooltipTop-"] { @include animation(tooltip-top-anim 200ms ease-in-out); }
  &[class*="tooltipBottom-"] { @include animation(tooltip-bottom-anim 200ms ease-in-out); }
  &[class*="tooltipRight-"] { @include animation(tooltip-right-anim 200ms ease-in-out); }
  &[class*="tooltipLeft-"] { @include animation(tooltip-left-anim 200ms ease-in-out); }
  &::after { display: none; }
}


// Top Popups (Pins, Mentions, etc)
.theme-dark span[class*="iconBadge-"] { background-color: var(--accent); }

.theme-dark div[class*="messagesPopoutWrap-"] {
  @include animation(popout-content 400ms ease-in-out);
  background: var(--dark-primary) !important;
  border: 0 !important;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3) !important;
  max-height: 541px !important;

  div[class*="header-"] { background: var(--dark-highlight) !important; }
  div[class*="footer-"] { background: var(--dark-secondary) !important; }

  div[class*="messagesPopout-"] {
    background: transparent;

    div[class*="messageGroupWrapper-"], div[class*="messageGroupWrapper-"]:hover {
      background: var(--dark-primary) !important;
      border: 0 !important;

      div[class*="isMentionedCozy-"] { @include mentioned; }

      div[class*="actionButtons-"] {
        background-color: transparent;
        box-shadow: none;
        transition: background-color .1s ease-in-out;
        &:hover { box-shadow: none; }
        div[class*="jumpButton-"] { background-color: var(--dark-secondary); }
      }
    }

    .comment {
      background: rgba(0, 0, 0, 0);
      border-radius: 0 3px 3px !important;
      padding: 4px 7px 10px 10px !important;

      &::before {
        border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
        left: -20px;
        top: -4px;
      }
    }

  }
}


// Ban and kick
.user-popout-banned-video {
  display: none;
}

.alert.form.has-icon::before {
  background-color: transparent;
  background-image: url('https://canary.discordapp.com/assets/1ac6fb17c60570343eec4e81fe1e4073.svg');
  border-radius: 0;
}

.form .form-inner {
  background-color: var(--dark-primary);
  &:last-child { background-color: var(--dark-highlight); }
}

.alert.form .form-inner {
  h4 { color: #fff; }
  .cancel {
    background-color: #e74c3c;
    border-color: transparent;

    &:hover {
      background-color: #c0392b;
    }
  }
}

div[class*="modal-"] div[class*="content-"] video[autoplay] { display: none; }


// Upload area
div[class*="autocomplete-"] {
  background-color: var(--dark-secondary) !important;

  div[class*="content-"] { background: transparent; }
  div[class*="selectorSelected-"] { background: var(--dark-secondary); }

  header, div[class*="contentTitle-"] {
    color: var(--accent);
    font-size: 14px;
    text-transform: none;
  }

  li, ul { background-color: var(--dark-secondary) !important; }
  ul {
    background-color: var(--dark-secondary) !important;
    li { color: #fff !important; &.active { background-color: var(--dark-primary) !important; }}
  }
}

div[class*="uploadModal-"] {
  background-color: var(--dark-highlight);

  div[class*="inner-"] {
    border: 0;

    div[class*="file-"] {
      div[class*="icon-"][class*="image-"] {
        background-color: var(--dark-highlight);
        border: 2px solid var(--accent);
        box-shadow: 0 0 0;
      }

      div[class*="description-"] div[class*="filename-"] { color: var(--accent); }
    }

    div[class*="comment-"] {
      div[class*="label-"] { font-size: 14px; }
      div[class*="channelTextArea-"] {
        background-color: var(--dark-secondary);
        border: 0 !important;
        margin-top: 10px;
      }
    }
  }

  div[class*="footer-"] {
    background-color: var(--dark-primary);

    .button-primary { color: var(--accent); }
    .button {
      background-color: var(--dark-primary);
      right: 25px;
      width: 100px;
    }
  }
}


div[class*="uploadModalIn-"] div[class*="uploadDropModal-"] {
  div[class*="instructions-"], div[class*="title-"] { color: var(--accent); }
  div[class*="inner-"] {
    border: 0;
    div[class*="title-"] { background: transparent; }
  }

  div[class*="bgScale-"] {
    background: var(--dark-secondary);
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}


// Small theme fixed with loading spinners and screenshare popouts | Contributed by Snazzah (https://github.com/Snazzah)
.theme-dark .screenshare-popout {
  background-color: var(--dark-primary);

  .ui-quick-select-popout-option:hover { background-color: var(--dark-secondary); }
}

// Discord server LIVE
div[class*="videoControls-"] {
  div[class*="headerBar-"] {
    background: transparent !important;
    padding: 0;
  }
}

// Attachment Popout
svg[class*="attachButton-"].popout-open {
  @include transform(scale(1) !important);
  background-color: var(--dark-highlight) !important;
  margin: -6px -13px -4px 0;
  padding: 16px 13px 14px 10px;
}

div[class*="attachPopout-"] {
  @include animation(attach-popout 200ms ease-in-out);
  @include transition(background-color 200s ease-in-out);
  background-color: var(--dark-highlight) !important;
  border-radius: 0;
  margin-bottom: -10px;
  margin-left: 3px;
  padding: 0;

  > g {
    @include transform(scale(1.1) translate(-1px, -1px));
  }

  div[class*="attachPopoutRow-"] {
    border-radius: 0;
    padding: 0 15px 0 0;

    &:hover {
      background-color: var(--dark-primary) !important;

      svg[class*="attachPopoutIcon-"] {
        @include transition(background-color 200s ease-in-out !important);
        background-color: rgba(0, 0, 0, .2);
      }
    }

    svg[class*="attachPopoutIcon-"] {
      @include transition(background-color 200s ease-in-out);
      padding: 8px 12px;
    }

    div[class*="attachPopoutRowText-"] { margin-left: 13px; }
  }
}

// RTC Popout
div[class*="animatorTop-"][class*="didRender"] {
  header {
    background-color: var(--dark-primary) !important;
    font-size: 16px;
    text-transform: none;
  }

  section {
    background-color: var(--dark-secondary) !important;
    a, p, strong { color: var(--accent) !important; }
    .paragraph {
      color: #fff;
      font-size: 15px;
    }
  }

  &::after {
    border-top-color: var(--dark-secondary) !important;
  }
}

// Game activity popout
div[class*="popout-"][role="dialog"] div[class*="addGamePopout-"] {
  background-color: var(--dark-highlight);

}

// Quick role giver popout
div[class*="container-"][class*="position"] {
  header[class*="header-"] {
    background-color: var(--dark-highlight);
    border-radius: 0;
  }

  section[class*="sectionTag-"] {
    background-color: var(--dark-primary);
    border-radius: 0;
    div[class*="row-"][class*="selected-"] { background: var(--dark-secondary); }
  }
}
