@charset "utf-8";

// Small profile popout
.user-popout {
  @include animation(user-popout-anim 350ms ease-in-out);
  width: 450px;

  .body {
    background: var(--dark-primary);
    display: flex;
    padding-top: 14px;
  }

  .footer {
    background: var(--dark-secondary);
    border-top: 0;
  }

  .avatar-wrapper {
    margin: 4px 0 14px -150px;
    position: fixed;
    .avatar-popout { background-color: rgba(0, 0, 0, .01); border: 0; }
    .avatar-hint {
      background: rgba(0, 0, 0, .5);
      box-shadow: none;
      margin: 0;
    }
  }

  .username-wrapper {
    .nickname { margin-bottom: 2px; }
    .activity, .discord-tag, .nickname {
      margin-left: 138px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .header {
    background: var(--dark-highlight);
    padding-top: 3em;

    &.streaming {
      padding-top: 2.15em;

      .activity { padding: 0; }
      .live-on-twitch {
        border-radius: 3px;
        border-top: 0 solid transparent;
        margin-left: 129px;
        padding: 4px 0;
        text-decoration: none;
        width: 150px;
      }
    }
  }
}

div[class*="userPopout-"] {
  // NOTE: Work on this more
  @include animation(user-popout-anim 350ms ease-in-out);
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  flex-flow: column wrap;
  // width: 350px;

  .body { background: var(--dark-primary); }
  .footer { background: var(--dark-secondary); border-top: 0; }

  div[class*="headerNormal-"] { background: var(--dark-highlight); }

  div[class*="headerPlaying-"] {
    background: var(--dark-highlight);
  }

  div[class*="body-"] {
    background: var(--dark-primary);
    border-bottom: 0;

    div[class*="roleName-"] { font-weight: normal; }
  }

  div[class*="bodyAlignCenter-"], div[class*="bodyNormal-"] { background: transparent; border-bottom: 0; }

  div[class*="footer-"] {
    background: var(--dark-secondary);
    flex-flow: row wrap;

    input[class*="quickMessage-"] {
      background-color: transparent;
      border: 0;
    }
  }

  div[class*="content-"] { background-color: transparent; }

  div[class*="avatarWrapperNormal-"] {
    div[class*="avatarNormal-"] { background-color: rgba(0, 0, 0, .01); border: 0; }
    div[class*="avatarHint-"] {
      background: rgba(0, 0, 0, .5);
      box-shadow: none;
      margin: 0;
    }
  }
}

.theme-dark div[class*="activity-"] div[class*="headerText-"] {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: none;
}

div[class*="avatarStatusNormal-"] { border: 0; }

.note textarea:focus { background: var(--dark-highlight); }

.quick-message, .quick-message.isBlocked {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}

.member-roles .member-role {
  background-color: var(--dark-primary);
  border: 1px solid var(--dark-primary);
  color: #808080;
}

.section.roles { max-width: 250px; width: 250px; }
.section.notes, .section.roles { margin-left: 15px; }
.creation-date-wrapper { margin-left: -33px; }
.bot-tag.bot-tag-invert { background-color: #7289da !important; color: #fff !important; }


// Call popout
div[class*="pictureInPicture-"] {
  div[class*="pictureInPictureWindow-"] {
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, .5));
  }
}


// Modal Image | Contributed by Snazzah (https://github.com/Snazzah)
.modal-image a {
  background: var(--dark-highlight);
  border-top: 2px solid rgba(0, 0, 0, .2);
  padding-left: 10px;
  width: calc(100% - 20px);

  &:hover {
    background: var(--dark-highlight);
    color: #2196f3;
    opacity: 1;
    padding-left: 20px;
    width: calc(100% - 30px);
  }
}


// Everyone ping popout
.theme-dark form[class*="everyonePopout-"] {
  background: var(--dark-highlight);
  box-shadow: 0 2px 10px 0 rgba(28, 36, 43, .8);

  div[class*="content-"] {
    div[class*="header-"] { color: #e74c3c; }
    button[type="button"] { color: var(--accent); }
    button[type="submit"] { background: var(--accent); }
  }

  div[class*="body-"] { background: var(--dark-highlight); }
  div[class*="footer-"] {
    background: var(--dark-highlight);
    div { color: #fff; }
  }
}


// Download Modal
.callout-backdrop { background-color: rgba(0, 0, 0, .8) !important; opacity: 1 !important; }
.download-apps {
  .platforms .platform { border: 0; }
  .content-wrapper {
    background: #141414;
    border: 0;
    border-radius: 10px;
  }

  .header, .footer {
    color: #fff;
  }
}


// Large profile popout
.avatar-profile {
  background-size: 128px 128px;
  margin-top: -29px;
}

.avatar-profile .status, #user-profile-modal .guilds .guild .status, .channel-members .member .status, .container-iksrDt .status, .private-channels .status {
  border-color: transparent !important;
  transform: scale(1);
}

.details-3Qyqn3, #user-profile-modal .headerText-1wl24E, .name-2ZHm1Q { color: #fff; }
.content-3AMrS- { color: #aaa; }
.markup .hljs::before { border-radius: 5px 5px 0 0; }
.userPopout-4pfA0d .assetsSmallImage-2F5lSV {
  @include transform(scale(1.2));
  border: 0;
}

div[class*="root-"] {
  border-radius: 0;

  button[class*="buttonBrandInverted-"] { background: #2ecc71; color: #fff; }

  div[class*="topSectionPlaying"] { background: transparent; }
  div[class*="content-"] { background-color: transparent; }
  header[class*="header-"], div[class*="activityProfile-"] { background-color: var(--dark-highlight); }
  div[class*="topSectionNormal-"], div[class*="tabBarContainer-"] { background-color: var(--dark-primary); border-top: 0; }
  div[class*="scrollerWrap-"], div[class*="empty-"] { background-color: var(--dark-secondary); }
  div[class*="connectedAccount-"] {
    background-color: var(--dark-primary);
    border: 0;
  }

  div[class*="profileBadgeStaff-"] { background-image: url('https://discordapp.com/assets/4358ad1fb423b346324516453750f569.svg'); }
  div[class*="profileBadgePartner-"] { background-image: url('https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg'); }
  div[class*="profileBadgeHypesquad-"] { background-image: url('https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg'); }
  div[class*="profileBadgeHypeSquadOnlineHouse1-"] { background-image: url('https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg'); }
  div[class*="profileBadgeHypeSquadOnlineHouse2-"] { background-image: url('https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg'); }
  div[class*="profileBadgeHypeSquadOnlineHouse3-"] { background-image: url('https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg'); }
  div[class*="profileBadgeEarlySupporter-"] { background-image: url('https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg'); }
  div[class*="profileBadgePremium-"] { background-image: url('https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg'); }
  div[class*="profileBadgeBugHunter-"] { background-image: url('https://discordapp.com/assets/f61b8981e92feead854f52e5a1ba14f0.svg'); }
}

#user-profile-modal {
  border-radius: 0;
  .avatar-wrapper { background-color: transparent; }
  .headerIconForeground-3KIzwH { fill: #fff; }

  .assetsSmallImage-2F5lSV {
    @include transform(scale(1.2) translate(-5px, -5px));
    border: 0;
  }

  .header {
    background-color: var(--dark-highlight);
    background-image: none;
    border-radius: 0;

    .discord-tag, .activity { @include animation(profile-badge-info 500ms ease-in-out); }

    &::after { display: none !important; }

    .header-info {
      margin-top: -30px;
      .header-info-inner .discord-tag .username { color: #fff; }
      .header-info-inner .discord-tag .discriminator { color: rgba(255, 255, 255, .7); }
      .header-info-inner .activity { color: rgba(255, 255, 255, .5); }

      .badge-premium, .badge-hypesquad, .badge-partner, .badge-staff { @include animation(profile-badge 500ms ease-in-out); }
    }
  }

  .guilds {
    .guild:hover { background: rgba(255, 255, 255, .1); color: #fff; }

    .section {
      .section-header { color: #fff; }
      .connected-accounts {
        margin-left: -10px;
        margin-right: -10px;
        padding: 0 10px;

        .connected-account {
          background: var(--dark-primary);
          border: 0;
          box-shadow: none;

          a:hover .connected-account-open-icon { opacity: .8; }
          .connected-account-name-inner .connected-account-name { color: #fff; font-weight: 600; }
        }
      }

      .note textarea {
        @include transition(all 100ms ease);
        border-radius: 0;
        padding: 5px;

        &:focus, &:hover:focus { background: transparent; color: #fff; }
      }
    }
  }

  .scroller {
    background: var(--dark-secondary);
    border-bottom: 0;
  }

  .tab-bar {
    margin-left: -185px;
    margin-top: 0;

    .tab-bar-item, .tab-bar-item.selected { color: #fff; }
    .tab-bar-item.selected {
      border-bottom-color: #fff;
      font-weight: bold;
    }
  }

  .tab-bar-container {
    background-color: var(--dark-primary);
    border-bottom: 0;
  }

  .empty {
    background: var(--dark-secondary);
  }
}

// Keyboard Combos | by Archer (https://github.com/AmazingArcher23 , Discord archer#9341)
.keyboard-shortcuts-modal {
  background-color: var(--dark-secondary);
  position: relative;

  .modal-title { color: #fff; }
  .keyboard-shortcut-list .keybind-group .keybind-description { color: #808080; }
}

.keybind-shortcut {
  color: #808080;

  &.dim span {
    color: #808080;
    .bind-arrow g { fill: #808080; }
    &:active, &:active .bind-arrow g { fill: #808080; }
  }

  span {
    border: 1px solid var(--dark-secondary);
    box-shadow: inset 0 -4px 0 var(--dark-highlight);
    color: #808080;

    &:active {
      border: 1px solid var(--dark-secondary);
      box-shadow: inset 0 -2px 0 var(--dark-highlight);
      color: #808080;
      g { fill: #808080; }
    }
  }
}


// Emoji picker
div[class*="emojiPicker-"] {
  background: transparent;
  border: 0;

  div[class*="header-"] {
    background-color: var(--dark-highlight);
    .search-bar-light { background: transparent; }
  }

  div[class*="stickyHeader-"] {
    background-color: var(--dark-primary);
    left: 0;
    width: 100%;
  }

  div[class*="scrollerWrap-"] { background: var(--dark-secondary); }

  div[class*="category-"] {
    color: var(--accent);
    font-size: 13px;
    font-weight: bold;
    padding-left: 1em;
  }

  div[class*="categories-"] {
    background: var(--dark-primary);
    border-top: 0;
    margin: 0;
    padding: 0 12px;
    .item.selected { border-bottom-color: var(--accent); }
  }

  div[class*="dimmer-"] { border-radius: 0; &.visible { background: rgba(0, 0, 0, .5); }}
}

.theme-dark div[class*="popout-"] {
  box-shadow: none;

  div[class*="popoutList-"] { background: var(--dark-highlight); }
  div[class*="searchBar-"] { background: var(--dark-primary); }

  div[class*="emojiPicker-"] {
    animation: emoji-picker 300ms;
    background: var(--dark-primary) !important;
    border: 1px solid var(--dark-primary);
    border-radius: 0 0 3px 3px !important;

    div[class*="stickyHeader-"] { background: var(--dark-primary); }
    div[class*="scrollerWrap-"] {
      background: transparent !important;

      div[class*="emojiItem-"] {
        @include transition(all 100ms ease);
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }

      div[class*="selected-"] { background: var(--dark-secondary); }
    }

    div[class*="header-"] {
      background-color: var(--dark-highlight);
      border-bottom: 0;

      .search-bar {
        background-color: var(--dark-highlight) !important;
        .search-bar-inner { background: transparent; font-weight: bolder; }
      }
    }
  }

  &.no-shadow .emoji-picker {
    background: var(--dark-primary) !important;
    border: 0;
    border-radius: 0 !important;
    margin-bottom: -14px !important;
    margin-right: 14px;
  }

  div[class*="menu-"] {
    background: var(--dark-highlight);
    border-radius: 10px;

    div[class*="invite-"] { background: transparent; }

    div[class*="item-"] {
      @include transition(all 200ms ease-in-out);
      color: #fff;
      padding: 10px 30px 10px 20px;

      &:hover {
        @include transition(all 200ms ease-in-out);
        @include transform(translateX(.5em));
        background: transparent;
      }
    }

    div[class*="separator-"] {
      display: none;
    }
  }
}

div[class*="modal-"] div[class*="wrapper-"] {
  background: transparent;

  form[class*="instantInviteModal-"] {
    .form-header {
      background: var(--dark-highlight);
      header { color: #fff; }
      div[class*="blurb-"] { color: #ccc; }
    }

    .form-inner { background: var(--dark-primary); }
    .form-actions { background: var(--dark-secondary); }

    div[class*="clipboardInputInner-"] {
      background: var(--dark-secondary);
      border: 0;

      input { background: var(--dark-secondary); }
      button {
        background: var(--accent);
        border-left: 0;

        &::before { background: transparent; }
      }
    }

  }
}

.diversity-selector .popout {
  background: var(--dark-secondary);
  border: 0;
}


// Status Picker
.theme-dark .status-picker.popout-menu {
  @include animation(status-picker 600ms ease-in-out !important);
  background-color: var(--dark-highlight) !important;
  border-radius: 10px;
}

.popout-menu { border-radius: 0;}

div[class*="popoutTopLeft-"], div[class*="popoutBottom-"] {
  div[class*="menu-"] {
    @include transition(all 250ms ease);
    background-color: var(--dark-primary);
    color: #fff;

    div[class*="item-"] {
      @include transition(all 250ms ease);
      div[class*="label-"] { color: #fff; }

      &:hover {
        background-color: var(--dark-secondary);
        color: #fff;
        padding-left: 20px;
      }
    }
  }
}


// Right click
.small-popout-box {
  background: var(--dark-highlight);
  border: 0;
  border-radius: 0;
  color: #fff;
}

.option-popout .btn-item {
  color: #fff;

  &:hover {
    background: var(--dark-secondary);
    color: #fff;
  }
}

.option-popout .btn-item:hover { background: var(--dark-secondary); color: #fff; }

.theme-darkdiv[class*="contextMenu-"] .item-group { border-color: rgba(255, 255, 255, .03) !important; }
div[class*="contextMenu-"], div[class*="contextMenu-"] div[class*="contextMenu-"] { @include animation(sub-contextmenu-anim 200ms ease-in-out); }

div[class*="contextMenu-"] {
  @include animation(opacity 100ms ease);
  @include crossbrowser(transform-origin, top left);
  background: var(--dark-highlight) !important;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3) !important;
  padding: 0;

  div[class*="item-"] {
    background: transparent !important;
    border-radius: 0;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    margin: 0;
    padding: 9px 15px;
    transition: all 250ms ease;

    &:hover {
      background: rgba(225, 225, 225, .03) !important;
      color: rgba(255, 255, 255, .8);
      left: .4em;
      padding-left: 22px;
      transition: all 250ms ease;
    }

    &:active {
      @include transition(all 0ms);
      background: rgba(225, 225, 225, .1) !important;
    }
  }

  div[class*="item-"]:first-of-type { border-radius: 2px 2px 0 0; }
  div[class*="item-"]:last-of-type { border-radius: 0 0 2px 2px; }

  div[class*="itemSubMenu-"]:hover::after { opacity: .75; }
  div[class*="itemSubMenu-"]::after {
    @include transform(translateY(-4px));
    background-size: contain;
    content: '';
    display: inline-block;
    height: 24px;
    opacity: .5;
    position: absolute;
    right: 5px;
    width: 24px;
    z-index: 1001;
  }
}

.theme-dark div[class*="contextMenu-"] div[class*="itemSubMenu-"]::after, div[class*="contextMenu-"].theme-dark div[class*="itemSubMenu-"]::after {
  background-image: url('https://cdn.discordapp.com/attachments/469030745692962836/470257176439554069/ic_keyboard_arrow_right_white_18px.svg');
}


// Make new server
.region-select .region-select-inner, .region-select button { border: 0; }
.region-select:hover button {
  @include transition(all 500ms ease);
  background-color: #27ae60;
  border-radius: 0;
  color: #fff;
}

div[class*="regionSelectModal-"] {
  background: var(--dark-highlight);

  div[class*="regionSelectModalHeader-"] {
    color: #fff;
    text-transform: none;
  }

  div[class*="regionSelectModalOptions-"] div[class*="regionSelectModalOption-"] {
    @include transition(all 200ms ease);
    background-color: var(--dark-secondary);
    border: 2px solid #696969;

    &:hover {
      @include transition(all 200ms ease);
      border: 5px solid #27ae60;
    }
  }
}

.form .control-group input[type=text],
.form .control-group label+textarea {
  background: transparent;
  color: #fff;
}

.avatar-uploader-inner {
  background-color: rgba(0, 0, 0, .01);
}


// Reactions
.theme-dark div[class*="container-"] {
  div[class*="reactors"] { background-color: var(--dark-primary); }
  div[class*="sidebar-"] {
    background-color: var(--dark-highlight);
    border-radius: 0;
  }
}


// Quick switch
.quickswitcher {
  @include animation(quickswitcher-menu 300ms ease-in-out);

  &.dark {
    background-color: var(--dark-highlight);
    .result.selected, .result .result-action { background-color: var(--dark-primary); box-shadow: none; }
    .scroller-wrap::before { background: transparent; }
    .big-input {
      background: transparent;
      box-shadow: none;
    }

    .result.selected::after {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .result .result-name:hover, .result .result-display-name:hover, .result.selected .result-display-name { margin-left: 1em; }
  .result .result-name, .result .result-name:hover,
  .result .result-display-name, .result .result-display-name:hover,
  .result.selected .result-display-name {
    @include transition(all 200ms ease);
  }
}

.theme-dark div[class*="popoutList-"] {
  background: var(--dark-highlight);
  div[class*="searchBar-"] { background: var(--dark-primary); }
}

div[class*="modal-"] div[class*="quickswitcher-"] div[class*="header-"] { background: var(--dark-primary); }
div[class*="backdrop-"] + div[class*="modal-"] {
  div[class*="modal-"] { background: var(--dark-highlight); }
  div[class*="countryButton-"] { background: var(--dark-secondary); }
  div[class*="phoneField-"], input[class*="inputField-"] {
    background: var(--dark-primary);
    box-shadow: none;
  }
}

.theme-dark div[class*="quickswitcher-"] {
  @include animation(quickswitcher-menu 300ms ease-in-out);
  background: var(--dark-primary);

  div[class*="resultDefault-"] {
    div[class*="content-"] {
      transition: all 400ms ease;
      &:hover { transform: translateX(0); }
    }
  }

  div[class*="resultFocused-"] {
    background: var(--dark-highlight);

    div[class*="content-"] {
      transition: all 400ms ease;
      &:hover { transform: translateX(.6em); }
    }
  }

  input[class*="input-"] {
    background: var(--dark-secondary);
    box-shadow: 0;
  }
}


// Tool tip
.tooltip {
  background: rgba(22, 22, 22, .6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .9);
  color: #fff;

  &.tooltip-top { @include animation(tooltip-top-anim 200ms ease-in-out); }
  &.tooltip-bottom { @include animation(tooltip-bottom-anim 200ms ease-in-out); }
  &.tooltip-right { @include animation(tooltip-right-anim 200ms ease-in-out); }
  &.tooltip-left { @include animation(tooltip-left-anim 200ms ease-in-out); }
  &::after { opacity: 0; }
}


// Help popout | F1 Key
div[class*="headerBar-"] svg[name="QuestionMark"] {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTcgMTRjLTEuNjYgMC0zIDEuMzQtMyAzIDAgMS4zMS0xLjE2IDItMiAyIC45MiAxLjIyIDIuNDkgMiA0IDIgMi4yMSAwIDQtMS43OSA0LTQgMC0xLjY2LTEuMzQtMy0zLTN6bTEzLjcxLTkuMzdsLTEuMzQtMS4zNGMtLjM5LS4zOS0xLjAyLS4zOS0xLjQxIDBMOSAxMi4yNSAxMS43NSAxNWw4Ljk2LTguOTZjLjM5LS4zOS4zOS0xLjAyIDAtMS40MXoiLz48L3N2Zz4=");

  path {
    display: none;
  }
}

.need-help-modal, .need-help-modal.form.deprecated {
  a, ul li { color: var(--accent); }
  .header {
    background-color: var(--dark-highlight);
    height: 70px;
    border-radius: 0;

    input {
      display: none;
    }

    h1 {
      text-align: center;
      font-size: 0;
      margin: 0;

      &:before {
        content: "Discord_Theme";
        font-size: 22px;
      }
    }
  }

  .footer {
    background-color: var(--dark-secondary);
    border-radius: 0;
    border-top: 0;
    font-size: 0;
  }

  .form-inner {
    padding: 15px 38px;
    align-items: initial;
    justify-content: initial;
    min-height: 120px;

    li {
      color: #ccc!important;
      text-align: center;

      a {
        display: none;
      }

      &:nth-child(1) {
        display: block;
        color: #fff!important;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px var(--dark-secondary) solid;
        margin-bottom: 15px;
      }

      &:nth-child(1)::before {
        content: "https://github.com/AlexFlipnote/Discord_Theme";
      }

      &:nth-child(2)::before {
        content: "Made with 💙 by AlexFlipnote#0001 and contributors"
      }

      &:nth-child(3)::before {
        content: "Support server: https://discord.gg/DpxkY3x"
      }
    }
  }

  // Splitted with Deprecated
  &.form.deprecated {
    a, ul li { color: var(--accent); }
    .header {
      background-color: var(--dark-highlight);

      input[type=text] {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}


// Top Popups (Pins, Mentions, etc)
.theme-dark span[class*="iconBadge-"] { background-color: var(--accent); }

.theme-dark div[class*="messagesPopoutWrap-"] {
  @include animation(popout-content 400ms ease-in-out);
  background: var(--dark-primary) !important;
  border: 0 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3) !important;
  max-height: 541px !important;

  div[class*="header-"] { background: var(--dark-highlight) !important; }
  div[class*="footer-"] { background: var(--dark-secondary) !important; }

  div[class*="messagesPopout-"] {

    div[class*="messageGroupWrapper-"], div[class*="messageGroupWrapper-"]:hover {
      background: var(--dark-primary) !important;
      border: 0 !important;

      div[class*="container-"] { background: transparent !important; }

      div[class*="actionButtons-"] {
        background-color: transparent;
        box-shadow: none;
        transition: background-color .1s ease-in-out;
        &:hover { box-shadow: none; }
        div[class*="jumpButton-"] { background-color: var(--dark-secondary); }
      }
    }

    .comment {
      background: rgba(0, 0, 0, 0);
      border-radius: 0 3px 3px !important;
      padding: 4px 7px 10px 10px !important;

      &::before {
        border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
        left: -20px;
        top: -4px;
      }
    }

  }
}


// Ban and kick
.user-popout-banned-video {
  display: none;
}

.alert.form.has-icon::before {
  background-color: transparent;
  background-image: url('https://discordapp.com/assets/1ac6fb17c60570343eec4e81fe1e4073.svg');
  border-radius: 0;
}

.form .form-inner {
  background-color: var(--dark-primary);
  &:last-child { background-color: var(--dark-highlight); }
}

.alert.form .form-inner {
  h4 { color: #fff; }
  .cancel {
    background-color: #e74c3c;
    border-color: transparent;

    &:hover {
      background-color: #c0392b;
    }
  }
}

div[class*="modal-"] div[class*="content-"] video[autoplay] { display: none; }


// Upload area
div[class*="autocomplete-"] {
  background-color: var(--dark-secondary) !important;

  div[class*="content-"] { background: transparent; }

  header {
    background-color: var(--dark-highlight) !important;
    color: var(--accent);
    font-size: 14px;
  }

  li, ul { background-color: var(--dark-secondary) !important; }
  ul {
    background-color: var(--dark-secondary) !important;
    li { color: #fff !important; &.active { background-color: var(--dark-primary) !important; }}
  }
}

div[class*="uploadModal-"] {
  background-color: var(--dark-highlight);

  div[class*="inner-"] {
    border: 0;

    div[class*="file-"] {
      div[class*="icon-"] { border: 0; box-shadow: 0 0 0; }
      div[class*="description-"] div[class*="filename-"] { color: var(--accent); }
    }

    div[class*="comment-"] {
      div[class*="label-"] { font-size: 14px; }
      div[class*="channelTextArea-"] {
        background-color: var(--dark-secondary);
        border-color: var(--dark-secondary);
        margin-top: 10px;
      }
    }
  }

  div[class*="footer-"] {
    background-color: var(--dark-primary);

    .button-primary { color: var(--accent); }
    .button {
      background-color: var(--dark-primary);
      right: 25px;
      width: 100px;
    }
  }
}


div[class*="uploadModalIn-"] div[class*="uploadDropModal-"] {
  div[class*="instructions-"], div[class*="title-"] { color: var(--accent); }
  div[class*="inner-"] {
    border: 0;
    div[class*="title-"] { background: transparent; }
  }

  div[class*="bgScale-"] {
    background: var(--dark-secondary);
    border-radius: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}


// Small theme fixed with loading spinners and screenshare popouts | Contributed by Snazzah (https://github.com/Snazzah)
.theme-dark .screenshare-popout {
  background-color: var(--dark-primary);

  .ui-quick-select-popout-option:hover { background-color: var(--dark-secondary); }
}

// Attachment Popout
svg[class*="attachButton-"].popout-open {
  @include transform(scale(1) !important);
  background-color: var(--dark-highlight) !important;
  margin: -6px -13px -4px 0;
  padding: 16px 13px 14px 10px;
}

div[class*="attachPopout-"] {
  @include animation(attach-popout 200ms ease-in-out);
  @include transition(background-color 200s ease-in-out);
  background-color: var(--dark-highlight) !important;
  border-radius: 0;
  margin-bottom: -10px;
  margin-left: 3px;
  padding: 0;

  > g {
    @include transform(scale(1.1) translate(-1px, -1px));
  }

  div[class*="attachPopoutRow-"] {
    border-radius: 0;
    padding: 0 15px 0 0;

    &:hover {
      background-color: var(--dark-primary) !important;

      svg[class*="attachPopoutIcon-"] {
        @include transition(background-color 200s ease-in-out !important);
        background-color: rgba(0, 0, 0, .2);
      }
    }

    svg[class*="attachPopoutIcon-"] {
      @include transition(background-color 200s ease-in-out);
      padding: 8px 12px;
    }

    div[class*="attachPopoutRowText-"] { margin-left: 13px; }
  }
}

// RTC Popout
div[class*="popout"] {
  header {
    background-color: var(--dark-primary)!important;
  }

  section {
    background-color: var(--dark-secondary)!important;
    a { color: var(--accent)!important; }
  }

  &::after {
    border-top-color: var(--dark-secondary)!important;
  }
}
