@mixin themecolours($target, $highlight, $primary, $secondary, $text, $text-dark) {
  .#{$target} {
    // START OF TARGET
    .chat {
      .title-wrap { background-color: $highlight; }
      .jump-to-present-bar { background: var(--accent); }
    }

    .search-results-wrap {
      background: $highlight;

      .search-result.expanded {
        background: $secondary;
      }
    }

    div[class*="divider-"], div[class*="dividerRed-"],
    .divider, .divider.divider-red {
      span { background-color: $secondary; }
    }

    div[class*="info-"] div[class*="title-"] { background: transparent; }

    span[class*="spoiler-"] {
      background: rgba(#000, .2);
      &[class*="hidden-"] { background: $highlight; }
    }

    #friends .friends-table .friends-row .friends-column-actions .friends-action {
      background-color: $highlight;
    }

    div[class*="headerBar-"] { background: $highlight; }

    div[class*="homeWrapper-"], div[class*="gameLibrary-"], div[class*="applicationStore-"] {
      div[class*="headerBar-"] { background: $secondary; }
    }

    .chat>.content, div[class*="messagesWrapper-"], .messages-wrapper {
      background-color: $secondary !important;
    }

    div[class*="messagesWrapper-"] div[class*="messageGroupBlocked-"] {
      background: $primary;

      &.revealed { background: $primary; }
      div[class*="messageGroupBlockedBtn-"], div[class*="messageGroupBlockedBtn-"]:hover {
        background: $primary;
        color: $text-dark;
      }
    }

    div[class*="invite-"] { background-color: $primary; }

    div[class*="attachment-"] {
      background: $primary;
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .15));

      div[class*="metadata-"], svg[class*="downloadButton-"], svg[class*="cancelButton-"] { color: $text; }
      div[class*="size-"] { color: $text-dark; }
    }

    .channel-textarea-upload {
      $file-upload: 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_file_upload_white_24px.svg';
      background: url($file-upload) 50% no-repeat;
      opacity: .5;

      &:hover {
        background: url($file-upload) 50% no-repeat;
        opacity: 1;
        transform: translateY(-5px);
      }
    }

    .channel-textarea-inner {
      background-color: transparent;
      .channel-textarea-upload:hover { background-color: transparent; }
    }

    div[class*="chat-"] form, .chat form {
      div[class*="typing-"] {
        background-color: $secondary;
      }
    }
    // END OF TARGET
  }
}
