@import '../assets/animation';

.theme-dark {
  .search .search-bar {
    background: transparent;

    span[class*="searchFilter-"] {
      background-color: var(--dark-highlight);
      padding: 0 5px;

      [data-text] { font-weight: bold; }
    }

    span[class*="searchAnswer-"] {
      background-color: var(--dark-primary);
      padding-left: 0;

      [data-text] { font-weight: lighter; }
    }
  }

  div[class*="searchPopout-"] {
    background-color: var(--dark-highlight);

    div[class*="option-"] {
      & div[class*="searchQuery-"] {
        background-color: #111;
        border: 0;

        &+div[class*="selected-"] { background-color: var(--dark-primary) !important; }
        &+div[class*="resultsGroup-"]::before { display: none; }

        &+div[class*="searchQuery-"] {
          background-color: var(--dark-primary);
          &+div[class*="selected-"] { background-color: var(--dark-highlight) !important; }
        }

        .keybind-shortcut.dim span {
          background-color: var(--dark-secondary);
          border: 1px solid var(--dark-secondary);
          box-shadow: inset 0 -4px 0 var(--dark-highlight);
          color: #000;

          &:active { box-shadow: inset 0 -2px 0 var(--dark-highlight); }
        }
      }

      &::after { background: var(--dark-highlight); }

      &+div[class*="selected-"], &+div[class*="searchOption-"] div[class*="selected-"] {
        background-color: var(--dark-secondary) !important;

        strong, .displayed-nick { color: #fff; }
        span[class*="filter-"] { color: #fff; }

        &::after { background: linear-gradient(90deg, hsla(0, 0%, 95%, 0) 0, var(--dark-secondary) 50%); }
      }
    }
  }

  .search-results-wrap {
    background: var(--dark-highlight);

    .search-result::before, .search-result::after, .channel-separator .channel-name { background: transparent; }
    .search-header { background-color: var(--dark-highlight); }
    .scroller-wrap .scroller { background-color: var(--dark-primary); }
    .search-result {
      .hit { box-shadow: none; }

      &.expanded {
        background: var(--dark-secondary);
        border: 0;
        border-radius: 0;

        .search-result-message.hit {
          background-color: var(--dark-primary);
          border-bottom: 0;
          border-top: 0;
        }
      }

      .search-result-message.hit {
        background-color: var(--dark-primary);
        border: 0;
        border-radius: 0;
      }
    }

    .channel-separator .channel-name { margin-left: 15px; }
  }

  .react-datepicker {
    background-color: var(--dark-primary) !important;

    .react-datepicker__day {
      background-color: var(--dark-secondary) !important;
      border-color: #000 !important;
      color: #fff !important;

      &.react-datepicker__day--selected:hover,
      &:hover {
        background-color: #242424 !important;
        color: #fff !important;
      }

      &.react-datepicker__day--selected {
        background-color: var(--dark-secondary) !important;
      }

      &.react-datepicker__day--outside-month {
        background-color: var(--dark-highlight) !important;
        color: var(--dark-secondary) !important;
      }

      &.react-datepicker__day--disabled:not(.react-datepicker__day--outside-month) {
        background-color: var(--dark-primary) !important;
        color: #555 !important;
      }

      .react-datepicker__day-name { color: #fff; }
    }

    .react-datepicker__current-month,
    .react-datepicker__day-name {
      border-color: #fff !important;
      color: #fff !important;
    }

    .react-datepicker__header {
      background-color: var(--dark-primary) !important;
    }

    .react-datepicker__navigation {
      border-color: transparent !important;
      filter: brightness(2);
    }
  }

  .date-picker {
    background-color: var(--dark-primary);
    border-top: 0;

    .hint-value {
      background-color: var(--dark-highlight) !important;
      font-weight: lighter !important;
    }
  }
}


// Private Message Search
.private-channels {
  div[class*="scroller-"] { padding-top: 0 !important; }

  .search-bar {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 4px;
    padding-top: 4px;

    .search-bar-inner {
      background: transparent;
      border: 0;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2),
                  0 0 0 1px rgba(32, 34, 37, .6);
    }
  }
}

.search-bar .search-bar-inner { background: rgba(47, 47, 47, .9); }
