div[class*="header-"] {
  border-radius: 0;
  text-transform: none;
  div[class*="sidebar-"] { background: transparent; }
}

div[class="ui-tab-bar-item guild-role selected"] > .ui-flex > .flex-nowrap {
  background: transparent;
}

div[class*="side"] {
  div[class*="item-"] {
    transition: all 200ms ease;
    &[class*="selected-"] { background-color: var(--accent) !important; }
    &:hover { transform: translateX(.4em); }
  }
}

.theme-dark div[class*="select-"] {
  .Select-menu-outer { background: var(--dark-highlight); }
  .Select-option.is-focused, .Select-option.is-focused:hover { background: var(--dark-primary) !important; }
}

.theme-dark div[class*="slider-"] div[class*="barFill-"] { background-color: var(--accent); }

div[class*="standardSidebarView-"] {
  button[class*="lookFilled"], div[class*="valueChecked"] { background-color: var(--accent); }

  div[class*="itemDefaultSelected-"] {
    background: var(--accent);
    transform: translateX(.4em);
  }

  div[class*="cardPrimary-"] {
    background: var(--dark-highlight);
    border: 0;
    border-radius: 0;
  }

  div[class*="title-"] { background: transparent; }

  .custom-scroller>div {
    z-index: 2;
  }

  div[class*="auditLog-"], .guild-settings-audit-logs {
    border: 0;
    div[class*="divider-"] { height: 0; }
    div[class*="headerDefault-"], div[class*="headerClickable-"] { background: var(--dark-secondary); }
    div[class*="headerExpanded-"], div[class*="changeDetails-"] { background: var(--dark-highlight); }
  }
}

// Emojis
div[class*="emojiRow-"] {
  button[class*="emojiRemove-"] { background-color: var(--dark-secondary); }
  input[class*="emojiInput-"] {
    background: transparent !important;
    border: 2px solid var(--dark-secondary);
  }
}

// Sidebar buttons
.theme-dark div[class*="sidebarRegion-"] div[class*="sidebar-"] div[class*="item-"] {
  border-radius: 0;
  &:hover { background: var(--dark-primary); }
}

.theme-dark div[class*="cardPrimaryEditable-"] {
  background: var(--dark-highlight);
  border-radius: 0;

  &[style*="background-color: rgb(114, 137, 218);"] {
    background-color: var(--accent) !important;
    border-color: transparent !important;
  }

  div[class*="checkbox-"][class*="checked-"] {
    background: #fff !important;
    border-color: transparent !important;
    polyline { stroke: var(--accent) !important; }
  }
}

div[class*="userSettingsAccount-"] {
  div[class*="cardPrimary-"] {
    background: var(--dark-highlight);
  }
}

// Change Notice
div[class*="noticeRegion-"] {
  margin-left: 10%;

  div[class*="container-"] {
    @include transition(all 200s ease-in-out);
    background: var(--dark-highlight) !important;
    border-radius: 5px;
    box-shadow: none;

    // On screen shake
    [style="background-color: rgba(240, 71, 71, 0.9);"] {
      @include transition(all 200s ease-in-out);
      background-color: #700101 !important;
      height: 120px;
    }

    > div[class*="flex-"]::before {
      background: url('https://i-need.discord.cards/3399bf.png') center center no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 18px;
      margin-right: 5px;
      width: 18px;
    }
  }
}
