div[class*="emptyStateLarge-"] { background: var(--dark-secondary); }

.theme-dark input[class*="browseSearchInput-"],
.theme-dark input[class*="libraryFilterInput-"] {
  background: transparent;
}

div[class*="homeWrapper-"] {
  div[class*="home-"] { background: var(--dark-secondary); }

  div[class*="tileWrapper-"] {
    background: var(--dark-primary);
    &:hover { background: var(--dark-highlight); }
  }

  div[class*="itemBackground-"] {
    &::before { background-image: linear-gradient(transparent, var(--dark-secondary)); }
  }

  button[class*="viewAllGamesButton"] { margin: 20px auto 0; }
  footer[class*="footer-"] {
    background-color: var(--dark-secondary);
    margin-top: 0;
    padding-top: 40px;
  }
}

div[class*="listing-"] {
  background: var(--dark-secondary);

  div[class*="root-"], div[class*="row-"],
  div[class*="card-"], div[class*="bodySection-"],
  div[class*="guildInvite"] div[class*="content-"] {
    background: var(--dark-primary);
  }
}

.theme-dark div[class*="libraryHeader-"] { background: var(--dark-secondary); }
.theme-dark div[class*="gameLibrary-"] {
  background: var(--dark-secondary);

  div[class*="gameUpdates-"] { background: var(--dark-primary); }
  div[class*="header-"] { background: var(--dark-secondary); }
  button[class*="actionButton"] { background: var(--dark-highlight); }
  div[class*="rowWrapperActive-"] {
    background-color: var(--dark-primary);
  }
}

.theme-dark figure[class*="tileMedia-"],
.theme-dark div[class*="tileMedia-"] {
  background: var(--dark-primary);
}

.theme-dark div[class*="applicationStore-"] {
  background: var(--dark-secondary);

  a[class*="tileWrapper-"] {
    background: var(--dark-primary);
    &:hover { background: var(--dark-highlight); }
  }

  div[class*="applicationTile-"] { background: var(--dark-primary); }

  div[class*="searchBox-"] { background: var(--dark-primary); }
}

.theme-dark div[class^="codeRedemption-"] button {
  background: var(--accent);
}
