// Emotes: https://material.io/icons/

div[class*="contentColumn-"] div[class*="container-"] {
  div[class*="search-"] {
    @include search-bar-inner;
    padding-right: 12px;
  }
}

div[class*="avatarUploaderInner-"] { background-color: transparent; }

.theme-dark div[class*="emptyUsers-"],
.theme-dark div[class*="codeRedemptionRedirect-"],
.theme-dark div[class*="attendeeCTA"] {
  background-color: var(--dark-secondary) !important;
  border: 0;
  border-radius: 0;
  color: #fff;
}

div[class*="standardSidebarView-"] {
  .content-column, .custom-column {
    max-width: 100%;
  }

  div[class*="footer-"] {
    background: transparent;
  }

  div[class*="sidebarRegion-"] {
    flex: 1 0 0;
  }
}

div[class*="paymentHistory-"] {
  div[class*="paymentPane-"], div[class*="paginator-"], div[class*="payment-"] {
    background: transparent;
  }

  div[class*="hoverablePayment-"]:hover {
    background: var(--dark-secondary);
  }

  div[class*="expandedInfo-"] {
    background: var(--dark-secondary);
  }
}

.theme-dark {
  div[class*="user-info-viewing cardPrimary-"] {
    background: transparent;
    border-color: transparent;
  }

  .card-FDVird::before {
    background: transparent;
    border-color: transparent;
  }

  div[class*="standardSidebarView-"] {
    div[class*="sidebarRegion-"], div[class*="sidebarRegion-"] div[class*="scroller-"] {
      background-color: var(--dark-highlight);
    }

    div[class*="contentRegion-"], div[class*="contentRegion-"] div[class*="scroller-"] {
      background-color: var(--dark-primary);
    }
  }

  .ui-tab-bar.SIDE .ui-tab-bar-item.brand {
    color: var(--accent);
  }
}

div[role="progressbar"] {
  circle[class*="foreground-"] {
    stroke: var(--accent);
  }
}

div[class^="userSettingsVoice-"] {
  div[class^="progress-"] {
    background-color: var(--dark-secondary) !important;
  }

  button[class^="micTestButton-"] + div[class^="wrapper-"] {
    height: 22px;
  }

  div[class^="notches-"] {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23303030'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 0 0-2 2v12a2 2 0 1 0 4 0V4a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
    border: 1px var(--dark-highlight) solid;
    height: 22px;
  }
}

div[class*="notificationSettings-"] {
  div[class*="wrapper-"] {
    border: 2px solid var(--accent);
  }

  label[class*="selected-"] {
    background: var(--accent);
  }
}
